{extend name='extra@spl/content' /}

{block name="style"}

{/block}
{block name="button"}

{/block}
{block name="content"}

<main class="main">

  <ul class="atw-list">
    <a data-open="/offer/index?tag=un_quote"><li>待报价<span>{$waitQuoteNum}</span></li></a>
    <a data-open="/order/index?tag=exceed"><li>订单逾期警告<span>{$poItemNum}</span></li></a>
    <a data-open="/suppliercenter/index"><li>资质过期提醒<span>{$pastSuppNum}</span></li></a>
    <a data-open="/order/index?status=init"><li>新订单<span>{$initPoNum}</span></li></a>
    <a data-open="/order/index?status=sup_sure"><li>合同未回传<span>{$atwSureNum}</span></li></a>
    <a data-open="/order/index?status=contract_refuse"><li>合同被拒<span>{$contractRefuseNum}</span></li></a>
  </ul>
  <div class="atw-title">近一年交货及时率和质量合格率统计</div>
  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
  <div id="main" style="width: 100%;height:400px;"></div>
  <div id="main1" style="width: 100%;height:400px;"></div>
</main>

{/block}

{block name="script"}
<script>

  require(["echarts"],function(echarts){

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var myChart1 = echarts.init(document.getElementById('main1'));

    // 指定图表的配置项和数据
    var option = {
      //        标题
      title: {
      },
      //        提示框
      tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c}'+"%"
      },
      legend: {
      },
      xAxis: {
        type: 'category',
        name: '时间',
        splitLine: {show: false},
        data: ['2017-1', '2017-2', '2017-3', '2017-4', '2017-5', '2017-6', '2017-7', '2017-8', '2017-9']
      },
      grid: {
        left: '3%',
        right: '8%',
        bottom: '3%',
        containLabel: true
      },
      yAxis: {
        type: 'value',
        name: '交货及时率(%)'
      },
      series: [
        {
          name: '交货及时率',
          type: 'line',
          data: [1, 5, 55,60, 100, 30,70,10,100]
        }

      ]
    };

    var option1 = {
      //        标题
      title: {
      },
      //        提示框
      tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c}'+"%"
      },
      legend: {
      },
      xAxis: {
        type: 'category',
        name: '时间',
        splitLine: {show: false},
        data: ['2017-1', '2017-2', '2017-3', '2017-4', '2017-5', '2017-6', '2017-7', '2017-8', '2017-9']
      },
      grid: {
        left: '3%',
        right: '8%',
        bottom: '3%',
        containLabel: true
      },
      yAxis: {
        type: 'value',
        name: '质量合格率(%)'
      },
      series: [
        {
          name: '质量合格率',
          type: 'line',
          data: [1, 5, 55,60, 100, 30,70,10,100]
        }

      ]
    };
    // 使用刚指定的配置项和数据显示图表。
    $.get("{:url('Showmsg/getCharData')}",{},function(res){
      if(res.code == 2000){
        option.xAxis.data = res.data.monthList;
        option1.xAxis.data = res.data.monthList;
        option.series[0].data = res.data.avgArvList;
        option1.series[0].data = res.data.avgPassList;
        myChart.setOption(option);
        myChart1.setOption(option1);
      }
    });


  })
</script>
{/block}