{extend name='extra@spl/content' /}

{block name="style"}

{/block}
{block name="button"}

{/block}
{block name="content"}

<main class="main">

  <ul class="atw-list">
    <li>待报价<span>{$waitQuoteNum}</span></li>
    <li>订单逾期警告<span>{$poItemNum}</span></li>
    <li>资质过期提醒<span>{$pastSuppNum}</span></li>
    <li>新订单<span>{$initPoNum}</span></li>
    <li>合同未回传<span>{$atwSureNum}</span></li>
  </ul>
  <div class="atw-title">近一年交货及时率和质量合格率统计</div>
  <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
  <div id="main" style="width: 100%;height:400px;"></div>
  <div id="main1" style="width: 100%;height:400px;"></div>
</main>

{/block}

{block name="script"}
<script src="/static/spl/showmsg/index.js"></script>
{/block}