{extend name='extra@admin/content' /}

{block name="style"}
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">
{/block}
{block name="button"}
{/block}
{block name="content"}
<main class="main">
    <div class="rd_table">
      <div class="ibox-title">
        <h5>V 0.0.10</h5>
      </div>
      <table id="example" class="cell-border table table-bordered" width="100%" cellspacing="0" style="margin-bottom: 20px;">
        <thead>
        <tr>
          <th width="200">更新日期</th>
          <th>更新内容</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2017-7-12</td>
          <td>采购订单可以修改交期。每次调用U9接口都是失败，需要u9配合测试。</td>
        </tr>
        <tr>
          <td>2017-7-12</td>
          <td>询价单、采后订单详情 显示项目号。</td>
        </tr>
        <tr>
          <td>2017-7-12</td>
          <td>供应商报价中心，报价的时候首先不用给显示出来小数点，等单价填完，自动带两个小数点，不然每次要去把那0.00删除再填价格。</td>
        </tr>
        <tr>
          <td>2017-7-12</td>
          <td>供应商报价中心，状态需要细分：未投标（超过报价截止日期后未提交报价）、已报价（填写物料价格并提交）、中标（报价并下单）、未中标（报价未中标）、未报价（在报价截止日期内未提交报价）。</td>
        </tr>
        <tr>
          <td>2017-7-12</td>
          <td>优化下采购单流程。</td>
        </tr>
        </tbody>
      </table>
    </div>
</main>
{/block}
{block name="script"}
{/block}