{extend name='extra@admin/content' /}
{block name="style"}
  <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">
{/block}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
  <div class="mt_box">
    <div class="inquiry_box">
      <form class="form-inline">
        <select class="form-control">
          <option>全部</option>
          <option>询价中</option>
          <option>已下单</option>
          <option>流标</option>
        </select>
        <span>下单日期</span>
        <input type="text" class="date_time form-control w20b">
        到
        <input type="text" class="date_time form-control w20b">
        <button type="button" class="btn btn-info">查询</button>
      </form>
    </div>
    <div class="mt_table">
      <div>


        <table id="example" class="display table table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>询价单号</th>
            <th>请购单号</th>
            <th>料号</th>
            <!--<th>物料描述</th>-->
            <!--<th>项目号</th>-->
            <th>交易单位</th>
            <th>计价单位</th>
            <th>数量</th>
            <th>交期</th>
            <th>询价日期</th>
            <th>报价截止日期</th>
            <th>报价状态</th>
            <th>状态</th>
            <th>详情</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>


      </div>
    </div>
  </div>
</main>
<div class="barcode_box">
  <div class="img_box">
    <p><i href="#" class="close_box"></i></p>
    <section>
      <textarea class="text_approve">

      </textarea>
    </section>
    <p><button id="stamp" type="button" class="btn btn-info">提交</button></p>
  </div>
</div>
{/block}

{block name="script"}
<script src="/static/admin/enquiryorder/index.js"></script>
{/block}
