{extend name='extra@admin/content' /}

{block name="style"}
<link href="https://cdn.bootcss.com/iCheck/1.0.2/skins/minimal/minimal.css" rel="stylesheet">
{/block}

{block name="content"}

<main class="main">
  <div class="mt_box">
    <div class="particulars_table">
      <table class="table table-bordered">
        <tr>
          <td class="col-sm-2 tex_r">询价单号</td>
          <td class="col-sm-4"></td>
          <td class="col-sm-2 tex_r">请购单号</td>
          <td class="col-sm-4"></td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">料号</td>
          <td class="col-sm-4"></td>
          <td class="col-sm-2 tex_r">物料描述</td>
          <td class="col-sm-4"></td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">项目号</td>
          <td class="col-sm-4"></td>
          <td class="col-sm-2 tex_r">交易单位</td>
          <td class="col-sm-4"></td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">计价单位</td>
          <td class="col-sm-4"></td>
          <td class="col-sm-2 tex_r">数量</td>
          <td class="col-sm-4"></td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">交期</td>
          <td class="col-sm-4"></td>
          <td class="col-sm-2 tex_r">询价日期</td>
          <td class="col-sm-4"></td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">报价截止日期</td>
          <td class="col-sm-4"></td>
          <td class="col-sm-2 tex_r">报价状态</td>
          <td class="col-sm-4">3/5</td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">状态</td>
          <td class="col-sm-4">询价中</td>
          <td class="col-sm-2 tex_r">责任采购</td>
          <td class="col-sm-4">
            <select class="form-control  input-sm"></select>
          </td>
        </tr>
      </table>
    </div>
    <div class="particulars_tableTwo">
      <div class="pb_15">
        <button type="button" class="btn btn-info" style="margin-right: 15px;">发消息</button>
        <span class="col_red">*提醒未报价供应商报价</span>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>选择</th>
          <th>供应商名称</th>
          <th>供应商报价</th>
          <th>可供货交期</th>
          <th>供应商联系人</th>
          <th>联系电话</th>
          <th>电子邮箱</th>
          <th>操作</th>
        </tr>
        </thead>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-info">发消息</button></td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-info">发消息</button></td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-info">发消息</button></td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-info">发消息</button></td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-info">发消息</button></td>
        </tr>
      </table>
    </div>
  </div>
</main>

{/block}

{block name="script"}
<script src="/static/admin/enquiryorder/particulars.js"></script>
{/block}
