{extend name='extra@admin/content' /}

{block name="style"}
<link href="/static/admin/minimal.css" rel="stylesheet">
{/block}
{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
  <button onclick="javascript:window.history.go(-1);" class='layui-btn  layui-btn-small layui-btn-normal'>返回上一页</button>
</div>
{/block}
{block name="content"}

<main class="main">
  <div class="mt_box">
    <div class="particulars_table">
      <table class="table table-bordered">
        <tr>
          <td class="col-sm-2 tex_r">询价单号</td>
          <td class="col-sm-4">{$commonInfo['io_code']}</td>
          <td class="col-sm-2 tex_r">请购单号</td>
          <td class="col-sm-4">{$commonInfo['pr_code']}</td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">料号</td>
          <td class="col-sm-4">{$commonInfo['item_code']}</td>
          <td class="col-sm-2 tex_r">物料描述</td>
          <td class="col-sm-4">{$commonInfo['item_name']}</td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">项目号</td>
          <td class="col-sm-4">{:getProNo($commonInfo['pr_code'])}</td>
          <td class="col-sm-2 tex_r">交易单位</td>
          <td class="col-sm-4">{$commonInfo['price_uom']}</td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">计价单位</td>
          <td class="col-sm-4">{$commonInfo['tc_uom']}</td>
          <td class="col-sm-2 tex_r">数量</td>
          <td class="col-sm-4">{$commonInfo['tc_num']}</td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">交期</td>
          <td class="col-sm-4">{$commonInfo['req_date']|atwDate}</td>
          <td class="col-sm-2 tex_r">询价日期</td>
          <td class="col-sm-4">{$commonInfo['create_at']|atwDate}</td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">报价截止日期</td>
          <td class="col-sm-4">{$commonInfo['quote_endtime']|atwDate}</td>
          <td class="col-sm-2 tex_r">报价状态</td>
          <td class="col-sm-4">{$commonInfo['price_status']}</td>
        </tr>
        <tr>
          <td class="col-sm-2 tex_r">状态</td>
          <td class="col-sm-4">{$commonInfo['status_desc']}</td>
          <!--          <td class="col-sm-2 tex_r">责任采购</td>
                    <td class="col-sm-4">
                      <select class="form-control  input-sm"></select>
                    </td>-->
        </tr>
      </table>
    </div>
    <div class="particulars_tableTwo">
      <div class="pb_15">
        {if $commonInfo['status_desc'] eq '询价中'}
        <button type="button" class="btn btn-info" style="margin-right: 15px;" onclick="sendAllMsg();">发消息</button>
        <span class="col_red">*提醒未报价供应商报价</span>
        {/if}
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>选择</th>
          <th>供应商编码</th>
          <th>供应商名称</th>
          <th>供应商报价</th>
          <th>总价格</th>
          <th>可供货交期</th>
          <th>供应商联系人</th>
          <th>联系电话</th>
          <th>电子邮箱</th>
          <th>状态</th>
        </tr>
        </thead>
        {volist name='ioInfo' id='vo'}
        <tr class='{eq name="$vo.status" value="winbid"}success{/eq}'>
          <td>
            <input type="checkbox" name="checkinfo" value="{$vo.id}">
          </td>
          <td>{$vo.sup_code}</td>
          <td>{$vo.sup_name}</td>
          <td>{if $vo.quote_price neq ''}{$vo.quote_price|atwMoney}{/if}</td>
          <td>{$vo.totalPrice}</td>
          <td>{if $vo.promise_date neq ''}{$vo.promise_date|atwDate}{/if}</td>
          <td>{$vo.ctc_name}</td>
          <td>{$vo.phone}</td>
          <td>{$vo.email}</td>

          <td>
            {if $commonInfo['status_desc'] eq '询价中'}
            <button type="button" class="btn btn-info" onclick="sendOneMsg('{$vo.id}');">发消息</button>
            {else /}
            {if $vo['status'] eq 'winbid_uncheck'}
            <button class="layui-btn" onclick="passAndCreateIo('{$vo.id}');">通过</button>
            <button class="layui-btn" onclick="refuseAndClear('{$vo.id}');">拒绝</button>
            {else /}
            {$vo['statusStr']}
            {/if}
            {/if}
          </td>

        </tr>
        {/volist}
      </table>
    </div>
  </div>
</main>

{/block}

{block name="script"}
<script src="/static/admin/enquiryorder/particulars.js"></script>
<script>
  //群发送消息
  function sendAllMsg(){
    var chekVal = ''
    $("input[name='checkinfo']:checked").each(function(){
      chekVal += this.value + '|';//通过|来
    });
    if(chekVal == ''){
      layer.alert('抱歉，没有选中数据');
      return;
    }
    $.msg.loading();
    chekVal = chekVal.substr(0, chekVal.length - 1);//截掉最后|
    url = "{:url('Enquiryorder/sendAllMsg')}";
    data = {
      'io_id':chekVal
    }
    $.post(url, data, function(res){
      $.msg.close();
      if(res.code == 2000){
        layer.alert('发送成功');
      }
    });
    //console.log(chekVal);
  }

  //单发消息
  function sendOneMsg($ioId){
    $.msg.loading();
    if($ioId == ''){
      layer.alert('抱歉，无法发送信息');
      return;
    }
    url = "{:url('Enquiryorder/sendOneMsg')}";
    data = {
      'io_id':$ioId
    }
    $.post(url, data, function(res){
      $.msg.close();
      if(res.code == 2000){
        layer.alert('发送成功');
      }
    });
  }

  //通过并生成IO
  function passAndCreateIo($ioId){
    $.msg.loading();
    if($ioId == ''){
      layer.alert('抱歉，请重试');
      return;
    }
    url = "{:url('Enquiryorder/placePurchOrderFromIo')}";
    data = {
      'io_id':$ioId
    }
    $.post(url, data, function(res){
      $.msg.close();
      if(res.code == 2000){
        $.form.reload();
      }
    });
  }

  //拒绝并清空PR状态 清空IO字段
  function refuseAndClear($ioId){

    //例子1
    layer.prompt({
      formType:2,
      title:'拒绝原因',
      value:'',
      area:['500px', '200px'] //自定义文本域宽高
    }, function(refuseCause, index, elem){

      $.msg.loading();
      if($ioId == ''){
        layer.alert('抱歉，请重试');
        return;
      }
      url = "{:url('Enquiryorder/refuseAndClear')}";
      data = {
        'io_id':$ioId,
        'refuse_cause':refuseCause
      };
      $.post(url, data, function(res){
        $.msg.close();
        if(res.code == 2000){
          $.form.reload();
        }
      });
      layer.close(index);
    });
  }
</script>
{/block}
