{extend name='extra@spl/content' /}

{block name="button"}

{/block}
{block name="style"}
<link rel="stylesheet"
      href="/static/admin/dataTables.bootstrap.css">
<link href="/static/admin/minimal.css" rel="stylesheet">
<style>
  .Total {
    display: inline-block;
    clear: right;
    margin-top: -6px;
  }
  .Lengthchanging {
    display: inline-block;
    float: left;
    margin-right: 2em;
  }
  .toolbar {
    float: right;
    margin-right: 2em;
    margin-top: -6px;
  }
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: textfield;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>
{/block}
{block name="content"}

<main class="main">

  <div class="atw-inquiry">
    <form class="form-inline">
       <span>状态: <select name="status" id="status">
        <option value="all">全部</option>
        {volist name='status' id='pstatus'}
          <option value="{$key}" {eq name="$key" value="$queryStatus" }selected{/eq} >{$pstatus}</option>
         {/volist}
      </select></span>
      <span>询价时间： <input id="quote_begintime" name="quote_begintime" class="laydate-icon" value="">  到
      <input value="" id="quote_endtime" name="quote_endtime" class="laydate-icon">
    </span>
      <button class="btn btn-primary " type="button" id="searchVal">查询</button>
    </form>
  </div>
  <div class="atw-qcent-btn">
    <button class="btn btn-warning" id="excel_out">导出询价单</button>

    <button class="btn btn-warning" id="excel_in1" data-modal='{:url("$classuri/add")}'>导入报价单</button>
    <button class="btn btn-primary" id="save_price">提交报价</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered" id="example">
      <thead>
      <tr class="active">
        <td>
          <input type="checkbox" class="all" checked>
        </td>
        <td>物料编号</td>
        <td>物料名称</td>
        <td>项目号</td>
        <td>需求数量</td>
        <td>交易单位</td>
        <td>计价单位</td>
        <td>询价日期</td>
        <td>报价截止日期</td>
        <td>要求交期</td>
        <td>可供货日期</td>
        <td>含税单价</td>
        <td>总价</td>
        <td>备注</td>
        <!--<td>操作</td>-->
        <td>状态</td>
        <td>拒绝原因</td>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</main>

{/block}

{block name="script"}
<script src="/static/spl/offer/index.js"></script>

<script>
  var orderTables;
  require(["jquery.dataTables", "icheck"], function(){
    require(["dataTables.bootstrap"], function(){
      $(document).ready(function(){
        initPage();
      });
    })

    function initPage(){
      // datatable
      $.fn.dataTable.ext.errMode = 'none'; // 关闭报错信息
      orderTables = $('#example').DataTable({
        //"paging": false, //设置是否分页
        "info":true,  //去除左下角的信息
        "lengthChange":true, //是否允许用户改变表格每页显示的记录数
        "lengthMenu":[[100, 200, 300], [100, 200, 300]],
        "dom":'rt<"bottom"fp<"Lengthchanging"l><"Total"i><"toolbar">><"clear">',
        "ordering":true, //是否允许Datatables开启排序
        "searching":false,  //是否允许Datatables开启本地搜索
        "processing":true,
        "aaSorting":[[1, "asc"]], //默认的排序方式，第2列，升序排列
        "aoColumnDefs":[{"bSortable":false, "aTargets":[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]}],
        //"serverSide": true,
        "ajax":{
          "url":'{:url("Offer/getOrderList")}',
          "type":"POST",
          "data":function(parameter){
            parameter.status = $("#status").val();
            parameter.quote_begintime = $("#quote_begintime").val();
            parameter.quote_endtime = $("#quote_endtime").val();
          }
        },
        "pageLength":100,
        language:{
          "oPaginate":{
            "sFirst":"首页",
            "sPrevious":"上页",
            "sNext":"下页",
            "sLast":"末页"
          },
          "info":"当前总记录数_TOTAL_条",
          "sInfoEmpty":"当前总记录数_TOTAL_条",
          "lengthMenu":"每页 _MENU_ 条记录",
        },

        "columns":[
          {"data":"item_code"},
          {"data":"item_code"},
          {"data":"item_name"},
          {"data":"pro_no"},
          {"data":"tc_num"},
          {"data":"tc_uom"},
          {"data":"price_uom"},
          {"data":"create_at"},
          {"data":"quote_endtime"},
          {"data":"req_date"},
          {"data":"promise_date"},
          {"data":"quote_price"},
          {"data":"total_price"},
          {"data":"remark"},
          //          {"data":"showinfo"},
          {"data":"statusStr"},
          {"data":"refuse_cause"}
        ],
        "createdRow":function(row, data, index){
          $('td', row).eq(0).html('<input type="checkbox" id="ck_quote_' + data.id + '" class="check" value="' + $('td', row).eq(0).html() + '" checked > ');
          $('td', row).eq(1).html($('td', row).eq(1).html() + '<input type="hidden" name="id" value="' + data.id + '">');
          $('td', row).eq(2).attr('style', 'text-align: left;');
          $('td', row).eq(4).attr('id', 'num_' + data.id);
          $('td', row).eq(4).attr('style', 'text-align: right;');
          if(!data.create_at){
            $('td', row).eq(7).html('--');
          }
          var tmpstr = '';
          if(data.promise_date == null || data.promise_date == ''){
            $('td', row).eq(10).html('');
          }
          tmpstr = '<input onclick="laydate({ min: laydate.now()})"  class="laydate-icon inputdate " type="text" name="req_date" lay-verify="required" value="' + $('td', row)
              .eq(10)
              .html() + '" ' + data.showinfo + ' data-flag="' + data.item_code + '">';
          $('td', row).eq(10).html(tmpstr);
          tmpstr = '￥<input  type="number" id="price_' + data.id + '" class="price sigprice" style="width:80%;float:right; -webkit-appearance：none;   text-align: right;" data-id="' + data.id + '" name="quote_price" lay-verify="required|float" value="' + data.quote_price.replace(',', '') + '"' + data.showinfo + ' placeholder="请输入单价" data-value="' + data.item_code + '" >';
          $('td', row).eq(11).html(tmpstr);
          //$('td', row).eq(9).attr('id','price_'+data.id);
          //console.log(tmpstr);
          $('td', row).eq(12).attr('id', 'total_price_' + data.id);
          $('td', row).eq(12).attr('data-content', data.item_code);
          $('td', row).eq(12).html('￥' + $('td', row).eq(12).html());
          $('td', row).eq(12).addClass('active');
          tmpstr = '<input type="text" value="' + data.remark + '" name="remark" ' + data.showinfo + '>';
          $('td', row).eq(13).html(tmpstr);
          // console.log(data);
          //          if(data.showinfo == '' && data.status !='quoted'){
          //            tmpstr = '<button data-io-id="' + data.id + '" class="btn btn-primary"  ' + data.showinfo + 'lay-submit="" lay-filter="sub">提交报价</button>';
          //          }else if(data.showinfo == '' && data.status == 'quoted'){
          //            tmpstr = '<button data-io-id="' + data.id + '" class="btn btn-warning"  ' + data.showinfo + 'lay-submit="" lay-filter="sub">修改报价</button>';
          //          }else{
          //            tmpstr = '<span> </span>';
          //          }
          //          $('td', row).eq(14).html(tmpstr);
          // console.log(row);
          $(row).attr('id', 'io-' + data.id);
          $(row).addClass("layui-form");
          //console.log(data.status.indexOf('winbid'));
          $(row).addClass(data.status && data.status == 'winbid' ? 'success' : '');
          $(row).addClass(data.status && data.status == 'wait' ? 'success' : '');

        },
        "drawCallback":function(settings){
          $('.price').bind("input propertychange", function(){
            var id = $(this).attr('data-id');
            var price = $(this).val();
            //price = parseFloat(price).toFixed(2);
            var code = $(this).attr('data-value');
            $("tr").find($('input[data-value="' + code + '"]')).val(price);
            var changeRows = $('td[data-content="' + code + '"]').parents('tr');
            if(!changeRows){
              return false;
            }
            changeRows.each(function(k, v){
              var rowData = orderTables.row(v).data();
              var subTotal = (price * rowData.tc_num).toFixed(2);
              console.log(subTotal);
              $("#total_price_" + rowData.id).html('¥' + subTotal);
            });

            // console.log($(this).val());//打印输入框字符长度
          });
          initEvent();
          $(".laydate-icon").focus(function(){
            var code = $(this).attr('data-flag');
            /*
             laydate插件提供显示日期控件的方法
             laydate(options)
             * options - 选项,格式为 { key : value }
             * 选项
             * format - 日期格式
             默认格式为 YYYY-MM-DD hh:mm:ss(标准格式)
             * 客户端
             * 服务器端
             * 数据库
             * istime - 是否开启时间选择
             * 默认值为false,不开启
             * isclear - 是否显示清空按钮
             * istoday - 是否显示今天按钮
             * issure - 是否显示确认按钮
             */
            laydate({
              format:"YYYY-MM-DD",
              //  istime : true,
              isclear:true,
              istoday:true,
              issure:true,
              min:laydate.now(),
              choose:function(dates){  // 选择好日期的回调
                ($("tr").find($('input[data-flag="' + code + '"]'))).val(dates);
              }
            });
          });

        },
      });
      $("div.toolbar")
          .html(' <span>第</span><input type="number" id="searchNumber" min="1" style="width: 40px;text-align: center; margin: 1em;"/><span>页&nbsp;&nbsp;</span><button id="btn-jump" onclick="changejump()" class="layui-btn layui-btn-small">跳转</button>');
      //绑定分页事件----在切换分页的时候触发
      //table.on('page.dt', function () {
      //  var info = table.page.info();
      //  console.info('Showing page: ' + info.page + ' of ' + info.pages);
      //});
      //绘制的时候触发，绑定文本框的值
      orderTables.on('draw.dt', function(e, settings, data){
        var info = orderTables.page.info();
        //此处的page为0开始计算
        // console.info('Showing page: ' + info.page + ' of ' + info.pages);
        $('#searchNumber').val(info.page + 1);
      });
      //        //监听文本框更改
      //        $('#searchNumber').change(function () {
      //            var page = $(this).val();
      //            page = parseInt(page) || 1;
      //            page = page - 1;
      //            //调转到指定页面索引 ，注意大小写
      //            var oTable = $('#example').dataTable();
      //            oTable.fnPageChange(page);
      //        });


    }
  })

  function initEvent(){
    //icheck
    $('input').iCheck({
      checkboxClass:'icheckbox_minimal',
      radioClass:'iradio_minimal',
      increaseArea:'20%' // optional
    });

    var checkAll = $('input.all');
    var checkboxs = $('input.check');


    checkAll.unbind('ifChecked ifUnchecked').on('ifChecked ifUnchecked', function(event){
      if(event.type == 'ifChecked'){
        checkboxs.iCheck('check');
      }else{
        checkboxs.iCheck('uncheck');
      }
    });
    checkboxs.unbind('ifChecked').on('ifChecked', function(event){
      $("#save_price").attr('disabled', false);
    });
    checkboxs.unbind('ifUnchecked').on('ifUnchecked', function(event){
      if(checkboxs.filter(':checked').length === 0){
        $("#save_price").attr('disabled', true);
      }
    });
  }

  //监听文本框更改
  function changejump(){
    var page = $('#searchNumber').val();
    page = parseInt(page) || 1;
    page = page - 1;
    //调转到指定页面索引 ，注意大小写
    var oTable = $('#example').dataTable();
    oTable.fnPageChange(page);
  }

  //批量修改
  $('#save_price').click(function(){
    //layer.confirm('确定批量提交报价吗？', {
    //    btn:['确定', '取消']
    //}, function(index){
    // layer.close(index);
    //$checkbox = $('[id ^= "quote_"]:checked');
    $checkbox = $('[id ^= "ck_quote_"]:checked');
    //if($checkbox.length){
    var loader = layer.load();
    var quoteinfo = '';
    var flagsubmit = 1;
    var isExit = 0;
    $checkbox.each(function(cki, ckv){
      //console.log(cki);
      //console.log(ckv);
      var id = $(this).attr('id').replace('ck_quote_', '');
      var req_status = $('#io-' + id).find("[name = 'req_date']").val();
      //console.log('#io.id ==' + id);  ;
      var req_date_item = $('#io-' + id).find("[name = 'req_date']").val();
      if(!req_date_item){
        layer.alert('请选择可供货日期');
        layer.close(loader);
        isExit = 1;
        return false;
      }
      var req_quote_price = $('#io-' + id).find("[name = 'quote_price']").val();
      if(!req_quote_price || req_quote_price <= 0){
        layer.alert('请填写报价价格');
        layer.close(loader);
        isExit = 1;
        return false;
      }
      var req_remark = $('#io-' + id).find("[name = 'remark']").val();
      if(!req_date_item){
        // $('#io-'+id).find("[name='req_date']").css('border','1px red solid');
        // layer.alert('可供货日期不能为空');
        //layer.closeAll("loading");
        flagsubmit = 0;
        return true;
      }else{
        $('#io-' + id).find("[name='req_date']").css('border', '1px solid #ccc;');
      }
      if(!req_quote_price){
        // $('#io-'+id).find(("[name='quote_price']")).css('border','1px red solid');
        // layer.alert('含税价格不能为空');
        // layer.closeAll("loading");
        flagsubmit = 0;
        return true;
      }else{
        $('#io-' + id).find(["name = 'quote_price'"]).css('border', '1px solid #ccc;');
      }

      if(id){
        quoteinfo += id + '_' + req_quote_price + '_' + req_date_item + '_' + req_remark + '&&&&';
      }
    });
    if(isExit){
      return false;
    }
    quoteinfo = quoteinfo.substr(0, quoteinfo.length - 4);
    //console.log(quoteinfo);return false;
    var url = "{:url('Offer/savePriceAll')}";
    var data = {
      'quoteinfo':quoteinfo
    };
    $.post(url, data, function(res){
      layer.closeAll();
      if(res.code == '2000'){
        layer.alert('报价成功');
        layer.close(loader);
        orderTables.ajax.reload();
      }else{
        layer.close(loader);
        var msg = res.msg;
        layer.alert(msg);
        //return false;
      }
    });

  });
  $("#searchVal").on('click', function(){
    //console.log(orderTables);
    orderTables.ajax.reload();
  })
</script>

<script>
  //导入Excel
  $("#excel_in").click(function(){
    layer.confirm('<a style="color: #333;">导入前请点击下载最新报价信息</a>', {
      btn:['确定导入', '取消导入']
    }, function(index){
      layer.close(index);
    });
  })
  //导出
  $("#excel_out").click(function(){
    //console.log(1);
    layer.confirm('是否进行导出', {
      btn:['确定导出', '取消导出']
    }, function(index){
      layer.close(index);
      window.open("{:url('Offer/exportExcel')}");
    });
  })
  layui.use('form', function(){
    form = layui.form();
    //console.log(form);
    form.on('submit(sub)', function(data){
      layer.confirm('确认提交报价吗？', {
        btn:['提交', '取消'], //按钮
        shade:false //不显示遮罩
      }, function(index){
        //console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
        //console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
        layer.load();
        $.ajax({
          'url':'{:url("$classuri/savePrice")}',
          'type':'POST',
          //'dataType' : 'html',
          'data':data.field,
          'complete':function(){
            //layer.closeAll();
          },
          'success':function(obj){
            layer.closeAll();
            if(obj.code == 2000){
              //$("tr[id^=io-" + data.field.id + "]").find($('input[name="quote_price"]')).attr("disabled", true);
              //$("tr[id^=io-" + data.field.id + "]").find($('input[name="remark"]')).attr("disabled", true);
              //$("tr[id^=io-" + data.field.id + "]").find($('input[name="req_date"]')).attr("disabled", true);
              //var quote_price = $("tr[id^=io-" + data.field.id + "]").find($('input[name="quote_price"]')).val();
              //quote_price = parseFloat(quote_price).toFixed(2);
              //$("tr[id^=io-" + data.field.id + "]").find($('input[name="quote_price"]')).val(quote_price);
              //str = 'total_price_' + data.field.id;
              //$("#" + str).text('￥' + obj.data.total_price);
              //$(data.elem).attr("disabled", true);
              $.form.reload();
            }else{
              layer.alert(obj.msg);
            }
            //console.log(obj);
          },
          'error':function(){
            layer.closeAll();
            layer.alert('请求失败');
          }
        });
      });

      return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
    //各种基于事件的操作，下面会有进一步介绍

  });

  function subQuote(id){

    //console.log(id);
  }

  //$('tr[id^=io-]')
  //$('tr[id^=io-2]').find($('input[name="quote_price"]')).val(11111111111)
</script>
{/block}