{extend name='extra@spl/content' /}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
  <div class="atw-head">
    <p>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <a>物供平台</a>
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <a>报价中心</a>
    </p>
  </div>
  <div class="atw-inquiry">
    <span>状态: <select name="" id=""><option value="">全部</option></select></span>
    <span>询价时间：<input class="laydate-icon" type="text">到<input class="laydate-icon" type="text"></span>
    <button class="btn btn-primary">查询</button>
  </div>
  <div class="atw-qcent-btn">
    <button class="btn btn-warning">导出询价单</button>
    <button class="btn btn-warning">导入报价单</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr class="active">
        <td>物料名称</td>
        <td>采购数量</td>
        <td>交易单位</td>
        <td>计价单位</td>
        <td>询价时间</td>
        <td>报价截止日期</td>
        <td>要求交期</td>
        <td>可供货日期</td>
        <td>单价</td>
        <td>总价</td>
        <td>备注</td>
        <td>提交报价</td>
      </tr>

      {volist name='list' id='vo'}
      <form action="">
      <tr>
        <td>{$vo.item_name}</td>
        <td>{$vo.price_num}</td>
        <td>{$vo.price_uom}</td>
        <td>{$vo.tc_uom}</td>
        <td>{$vo.quote_date|date="Y-m-d H:i:s",###}</td>
        <td>{$vo.quote_endtime|date="Y-m-d H:i:s",###}</td>
        <td>{$vo.req_date|date="Y-m-d H:i:s",###}</td>
        <td><input type="text" value="{$vo.req_date|date='Y-m-d H:i:s',###}" {$vo.showinfo}></td>
        <td><input type="text" value="{$vo.quote_price}" {$vo.showinfo}></td>
        <td class="active">{$vo.total_price}</td>
        <td><input type="text" value="{$vo.remark}" {$vo.showinfo}></td>
        <td><button class="btn btn-primary" {$vo.showinfo}>提交报价</button></td>
      </tr>
      </form>
      {/volist}
    </table>
  </div>
</main>

{/block}

{block name="script"}
<script src="/static/spl/offer/index.js"></script>
{/block}