{extend name='extra@spl/content' /}

{block name="button"}

{/block}

{block name="content"}

<main class="main">

  <div class="table-responsive">
    <table class="table table-bordered  atw-abnormal-tab">
      <tr class="active">
        <td>订单编号</td>
        <td>订单异常情况</td>
        <td>异常情况说明</td>
        <td>操作</td>
      </tr>
      <tr>
        <td>PO12121133</td>
        <td></td>
        <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
        <td><a href="javascript:void(0);" data-open="{:url('spl/mistakeorder/detail')}">详情</a></td>
      </tr>
      <tr>
        <td>PO12121133</td>
        <td></td>
        <td><textarea name="" cols="30" rows="10"></textarea></td>
        <td><a href="javascript:void(0);" data-open="{:url('spl/mistakeorder/detail')}">详情</a></td>
      </tr>
      <tr>
        <td>PO12121133</td>
        <td></td>
        <td><textarea name="" cols="30" rows="10"></textarea></td>
        <td><a href="javascript:void(0);" data-open="{:url('spl/mistakeorder/detail')}">详情</a></td>
      </tr>
      <tr>
        <td>PO12121133</td>
        <td></td>
        <td><textarea name="" cols="30" rows="10"></textarea></td>
        <td><a href="javascript:void(0);" data-open="{:url('spl/mistakeorder/detail')}">详情</a></td>
      </tr>
      <tr>
        <td>PO12121133</td>
        <td></td>
        <td><textarea name="" cols="30" rows="10"></textarea></td>
        <td><a href="javascript:void(0);" data-open="{:url('spl/mistakeorder/detail')}">详情</a></td>
      </tr>
      <tr>
        <td>PO12121133</td>
        <td></td>
        <td><textarea name="" cols="30" rows="10"></textarea></td>
        <td><a href="javascript:void(0);" data-open="{:url('spl/mistakeorder/detail')}">详情</a></td>
      </tr>
      <tr>
        <td>PO12121133</td>
        <td></td>
        <td><textarea name="" cols="30" rows="10"></textarea></td>
        <td><a href="javascript:void(0);" data-open="{:url('spl/mistakeorder/detail')}">详情</a></td>
      </tr>
      <tr>
        <td>PO12121133</td>
        <td></td>
        <td><textarea name="" cols="30" rows="10"></textarea></td>
        <td><a href="javascript:void(0);" data-open="{:url('spl/mistakeorder/detail')}">详情</a></td>
      </tr>
      <tr>
        <td>PO12121133</td>
        <td></td>
        <td><textarea name="" cols="30" rows="10"></textarea></td>
        <td><a href="javascript:void(0);" data-open="{:url('spl/mistakeorder/detail')}">详情</a></td>
      </tr>
    </table>
  </div>
</main>

{/block}