<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action='{:url("$classuri/add")}' data-auto="true" method="post">
  <input type="hidden" name="id" value="{$id}">
  <input type="hidden" name="contract" value="{$contract}">
  <div class="layui-form-item">
    <p class="h2 text-center"></p>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">合同影像 </label>
    <div class="layui-input-block">
      <span></span>
      <input type="hidden"   name="src" onchange="$(this).prev('span').text('上传成功')" value="" class="layui-input">
      <a class="btn btn-link" data-file="one" data-type="jpg|pdf|png|jpeg" data-field="src">添加</a>
    </div>
  </div>

  <div class="hr-line-dashed"></div>

  <div class="layui-form-item text-center">
    <button class="layui-btn" type='submit'>保存数据</button>
  </div>

</form>