{extend name='extra@spl/content' /}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
  <div class="atw-head">
    <p>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <a>物供平台</a>
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <a>订单详情</a>
    </p>
  </div>
  <div class="atw-orderdet-title">订单基本信息 <span class="glyphicon glyphicon-circle-arrow-left"></span></div>
  <div class="atw-orderdet-list">
    <div class="top"><p>订单编号：{$codeInfo.order_code}</p>
      <p>订单合同签订日期：{$codeInfo.contract_time}</p>
    </div>
    <div class="center" >
      合同影像：<a href="">下载合同模板</a>
      <span id="ImageList">
        {if $imgInfos|@count neq 0 }
        {volist name='imgInfos' id='pimgInfos'}
        <img src="{$pimgInfos}" alt=""  >
        {/volist}
        {/if}
      </span>

      {if $statusButton.contractable eq 1}
      <img src="/static/spl/img/add.png" alt="" class="uploadImg" data-modal='{:url("$classuri/add")}?id={$codeInfo.id}&contract={$codeInfo.contract}' >
     {else}
      <img src="/static/spl/img/add.png" alt=""  >
      {/if}
        <span>*下载合同模版后请 打印 盖公章后 扫描或者拍照上传由平台运营人员审核通过后会通过绑定邮箱和手机通知到您。</span>
    </div>
    <div class="bottom">订单采购内容 <button class="btn btn-primary">打印送货单</button>
      <button class="btn btn-primary" id="order_cancel" {if $statusButton.cancelable eq 1}{else}disabled="true"{/if}>取消订单</button><button class="btn btn-primary" id="order_confirm" {if $statusButton.confirmorderable eq 1 }{else}disabled="true"{/if} >确认订单</button></div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered atw-orddet-tab">
      <thead>
      <tr class="active">
        <!--<td>全选 <i></i></td>-->
        <td>料号</td>
        <td>物料名称</td>
        <td>采购数量</td>
        <td>交易单位</td>
        <td>交期</td>
        <td>修改交期</td>
        <td>单价</td>
        <td>总价</td>
        <td>条码</td>
        <td>已到数量(U9)</td>
        <td>未到数量(U9)</td>
      </tr>
      </thead>
      <tbody>
      {if $list|@count neq 0 }
      {volist name='list' id='plist'}
      <tr id="po-{$plist.item_code}">
        <!--<td> <i></i></td>-->
        <td>{$plist.item_code}</td>
        <td>{$plist.item_name}</td>
        <td>{$plist.price_num}</td>
        <td>{$plist.price_uom}</td>
        <td name="showdate">{$plist.sup_confirm_date|date="Y-m-d",###}</td>
        <td  > <input type="text" class="laydate-icon" name="confirmdate" ><button name="confirmdatesubmit" class="btn btn-primary confirmdatesubmit" value="{$plist.id}" data-item_code="{$plist.item_code}" {if $statusButton.confirmable eq 0 || $plist.times egt 3}disabled="true"{/if}>提交</button></td>
        <td>{$plist.price}</td>
        <td>{$plist.amount}</td>
        <td><a href="">打印</a></td>
        <td>{$plist.arv_goods_num}</td>
        <td>{$plist.pro_goods_num}</td>
      </tr>
      {/volist}
      {/if}
      </tbody>
    </table>
  </div>
  <div class="atw-orddet-text1">
    <p>订单异常情况</p>
    <textarea name="" id="" cols="30" rows="10" disabled></textarea>
  </div>
  <div class="atw-orddet-text2">
    <p>订单异常情况说明</p>
    <textarea name="" cols="30" rows="10"></textarea>
  </div>
</main>

{/block}

{block name="script"}
<script src="/static/spl/order/detail.js"></script>
<script>
  //调用示例
  layer.photos({
    photos: '#ImageList'
    ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
  });
</script>
<script>
  $("#order_confirm").click(function () {

    layer.confirm('是否确认订单', {
      btn: ['确定','取消']
    }, function(index){
      layer.close(index);
      layer.load();
      $.ajax({
        'url' : '{:url("Order/orderconfirm")}',
        'type' : 'POST',
        //'dataType' : 'html',
        'data' : {
          'id':'{$codeInfo.id}'
        },
        'complete' : function(){
          //layer.closeAll();
        },
        'success' : function(obj){
          layer.closeAll();
          if(obj.code == 2000){
            $("#order_confirm").attr("disabled",true);
            location.reload();
          }else{
            layer.alert(obj.msg);
          }
         //console.log(obj);
        },
        'error' : function(){
          layer.closeAll();
          layer.alert('请求失败');
        }
      });
    });
  })


  $("#order_cancel").click(function () {

      layer.confirm('是否取消订单', {
        btn: ['确定','取消']
      }, function(index){
        layer.close(index);
        $.ajax({
          'url' : '{:url("Order/cancel")}',
          'type' : 'POST',
          //'dataType' : 'html',
          'data' : {
                'id':'{$codeInfo.id}'
          },
          'complete' : function(){
            //layer.closeAll();
          },
          'success' : function(obj){
            layer.closeAll();
            layer.load();
            if(obj.code == 2000){
             $("#order_cancel").attr("disabled",true);
              location.reload();
            }else{
              layer.alert(obj.msg);
            }

            //console.log(obj);
          },
          'error' : function(){
            layer.closeAll();
            layer.alert('请求失败');
          }
        });
      });
  })
  $(".confirmdatesubmit").click(function () {
    var id =  $(this).val();
    var item_code= $(this).attr('data-item_code');
    //console.log(($("tr[id^=po-"+item_code+"]").find($('input[name="confirmdate"]'))).val());
    var supconfirmdate = ($("tr[id^=po-"+item_code+"]").find($('input[name="confirmdate"]'))).val();
    if(supconfirmdate == ''){
      return;
    }
    layer.confirm('是否修改交期', {
      btn: ['确定','取消']
    }, function(index){
      layer.close(index);

      $.ajax({
        'url' : '{:url("Order/updateSupconfirmdate")}',
        'type' : 'POST',
        //'dataType' : 'html',
        'data' : {
          'id':id,
          'po_id':'{$codeInfo.id}',
          'supconfirmdate':supconfirmdate
        },
        'complete' : function(){
          //layer.closeAll();
        },
        'success' : function(obj){
          layer.closeAll();
          if(obj.code == 2000){

            ($("tr[id^=po-"+item_code+"]").find($('td[name="showdate"]'))).html(supconfirmdate);
            ($("tr[id^=po-"+item_code+"]").find($('button[name="confirmdatesubmit"]'))).attr("disabled",true);

          }else{
            layer.alert(obj.msg);
          }
          //console.log(obj);
        },
        'error' : function(){
          layer.closeAll();
          layer.alert('请求失败');
        }
      });
    });
  })

</script>
{/block}