{extend name='extra@spl/content' /}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
  <div class="atw-head">
    <p>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <a>物供平台</a>
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <a>订单中心</a>
    </p>
  </div>
  <div class="atw-inquiry">
    <span>合同状态: <select name="" id=""><option value="">全部</option></select></span>
    <span>询价时间：<input class="laydate-icon" type="text">到<input class="laydate-icon" type="text"></span>
    <button class="btn btn-primary">查询</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered  atw-order-tab">
      <tr class="active">
        <td>订单编号</td>
        <td>物料交付情况</td>
        <td>合同签订情况</td>
        <td>合同签订日期</td>
        <td>操作</td>
      </tr>
      {if $list|@count neq 0 }
      {volist name='list' id='plist'}
      <tr>
        <td>{$key}</td>
        <td>到货数量:{$plist.arv_goods_num_total}--未到货数量:{$plist.pro_goods_num_total}</td>
        <td>{$plist.statusinfo}</td>
        <td>{$plist.contract_time}</td>
        <td><a href="javascript:void(0);"  data-open='{:url("Order/detail")}?pr_code={$key}' >详情</a></td>
      </tr>
      {/volist}
      {/if}

    </table>
  </div>
</main>

{/block}

{block name="script"}
<script src="/static/spl/order/index.js"></script>
{/block}