<form class="layui-form layui-box" style='padding:10px' action='{:url("$classuri/printRcv")}' data-auto="true" method="post" data-callback="callback" >
  <input type="hidden" name="id" value="{$id}">
  <div class="layui-form-item">
    <table class="table table-bordered atw-orddet-tab">
      <thead>
      <tr class="active">
        <th class="hidden">id</th>
        <th class="text-center">物料名称</th>
        <th class="text-center">项目号</th>
        <th class="text-center">未到货数量</th>
        <th class="text-center">送货数量</th>
        <th class="text-center">送货单位</th>
        <th class="text-center">炉/批号</th>
        <th class="text-center">备注</th>
      </tr>
      </thead>
      <tbody>
      {volist name='piList' id='pi' key='key' empty='<tr><td colspan=5>没有数据</td></tr>'}
      <tr>
        <td class="hidden"><input type="text" name="rcv[{$pi.id}][id]" value="{$pi.id}"></td>
        <td>{$pi.item_name}</td>
        <td>{$pi.pro_no}</td>
        <td>{$pi.pro_goods_num}</td>
        <td><input name="rcv[{$pi.id}][num]"  type="number" style="width: 8em;"></td>
        <td>{$pi.tc_uom}</td>
        <td><input name="rcv[{$pi.id}][heat_code]"  style="width: 8em;"></td>
        <td><input name="rcv[{$pi.id}][remark]"  type="text"></td>
      </tr>
      {/volist}
      </tbody>
    </table>
  </div>

  <div class="hr-line-dashed"></div>

  <div class="layui-form-item text-center">
    <button class="layui-btn"  type='submit'>打印</button>
  </div>

</form>
<script>
  function callback(ret){
    if(ret.code != 1){
      layer.alert(ret.msg);
      return false;
    }
    if(!ret.data.rcvCode){
      layer.alert('打印失败。');
      return false;
    }
    open('{:url("$classuri/downDeliverOrder")}?rcvCode='+ret.data.rcvCode);
  }
</script>