{extend name='extra@admin/content' /}

{block name="style"}
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">
{/block}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
  <div class="mt_box">
    <div class="inquiry_box">
      <form id="requireOrder" class="form-inline">
        <div class="pb_15">
          <input type="text" class="form-control" placeholder="请购单号">
          <input type="text" class="form-control" placeholder="请购日期">
          <input type="text" class="form-control" placeholder="料号">
          <input type="text" class="form-control" placeholder="物料描述">
          <input type="text" class="form-control" placeholder="项目号">
          <input type="text" class="form-control" placeholder="物料采购属性">
        </div>
        <div>
          <select class="form-control">
            <option>状态</option>
            <option>询价中</option>
            <option>已下单</option>
          </select>
          <select class="form-control">
            <option>是否指定供应商</option>
            <option>是</option>
            <option>否</option>
          </select>
          <select class="form-control">
            <option>审批状态</option>
            <option>已审批</option>
            <option>待审批</option>
          </select>
          <button type="button" class="btn btn-info">查询</button>
        </div>
      </form>
    </div>
    <div class="mt_table">
      <div>
        <table id="example" class="display table table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>请购单号</th>
              <th>请购日期</th>
              <th>料号</th>
              <th>物料描述</th>
              <th>项目号</th>
              <th>交易单位</th>
              <th>交易单位数量</th>
              <th>计价单位</th>
              <th>计价单位数量</th>
              <th>交期</th>
              <th>状态</th>
              <th>物料采购属性</th>
              <th>是否指定供应商</th>
              <th>询价方式</th>
              <th>主管审批</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<div class="barcode_box" style="">
  <div class="bomb_table">
    <p><i  class="close_box"></i></p>
    <h5>根据物流可选属性筛选出可选供应商</h5>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>选择</th>
        <th>供应商编码</th>
        <th>供应商名称</th>
        <th>状态</th>
      </tr>
      </thead>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td></td>
        <td></td>
        <td>禁用</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td></td>
        <td></td>
        <td>正常</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td></td>
        <td></td>
        <td>禁用</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td></td>
        <td></td>
        <td>正常</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td></td>
        <td></td>
        <td>禁用</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td></td>
        <td></td>
        <td>正常</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td></td>
        <td></td>
        <td>禁用</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td></td>
        <td></td>
        <td>正常</td>
      </tr>
    </table>
    <section>
      <span class="col_red mr_15 fs_13">选择指定供应商后提交申请，等待采购主管审核通过，审核信息可以在消息中心看到</span>
      <button type="button" class="btn btn-primary fr resetbt">重置</button>
      <button type="button" class="btn btn-primary fr mr_15 submitbt">提交</button>
    </section>
  </div>
</div>

{/block}

{block name="script"}
<!--<script src="/static/admin/requireorder/index.js"/>-->
<script>
  /**
   * 请购单管理
   * Created by Administrator on 2017/5/11.
   */

  require(["jquery.dataTables"],function(){
    require(["dataTables.bootstrap"],function(){
      $(document).ready(function(){
        initPage();
      });
    })
  });
  Global = {
    'item_code' : '',
    'pr_code' : ''
  };
  function initPage(){

    var table = $('#example').DataTable({
      //paging: false, //设置是否分页
      "info": false,  //去除左下角的信息
      "lengthChange": false, //是否允许用户改变表格每页显示的记录数
      "ordering": false, //是否允许Datatables开启排序
      "searching": false,  //是否允许Datatables开启本地搜索
      language: {
        "oPaginate": {
          "sFirst": "首页",
          "sPrevious": "上页",
          "sNext": "下页",
          "sLast": "末页"
        }
      },
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": '{:url("Requireorder/getPrList")}',
        "type": "POST"
      },
      "pageLength": 10,
      "columns": [
        { "data": "pr_code" },
        { "data": "pr_date" },
        { "data": "item_code" },
        { "data": "desc" },
        { "data": "pro_no" },
        { "data": "tc_uom" },
        { "data": "tc_num" },
        { "data": "price_uom" },
        { "data": "price_num" },
        { "data": "req_date" },
        { "data": "status" },
        { "data": "pur_attr" },
        { "data": "is_appoint_sup" },
        { "data": "inquiry_way" },
        { "data": "check_status" },
      ],
      "drawCallback": function( settings ) {
        is_appoint_sup =1;
        $("#example input").click(function(){
          var _this =$(this);
          var is_appoint_sup;

          Global.item_code = $(this).attr("data-item_code");
          Global.pr_code = $(this).attr("data-pr_code");
          var newhtml ="<a onclick='bomb_box(event);' class='select_sell' data-url='{:url(\"Requireorder/showSelectSup\")}/pr_code/"+Global.pr_code+"/item_code/"+Global.item_code+"'>选择供应商</a>";

          if($(this).is(':checked')){
            _this.parent().next().html(newhtml);
            is_appoint_sup =1;
          }else{
            is_appoint_sup =0;
            _this.parent().next().html("指定");
          }
          var sendObj ={
            'pr_code' :  $(this).attr("data-pr_code"),
            'is_appoint_sup' : is_appoint_sup
          };
          $.post("{:url('Requireorder/changeInquiType')}",sendObj,function(res){
            if(res.code == 2000){
            }else{
              alert("请求失败");
            }
          });
        })
      }
    });
  }
  // 打开弹框
  function bomb_box(event,pr_code,item_code){
    event.preventDefault();
    $.post("{:url('Requireorder/showSelectSup')}",{pr_code:pr_code,item_code:item_code},function(resDate){
      if(resDate.length >0){

        $(".barcode_box").css("display","block");
        var tmphtml='';
        for (var i=0; i<resDate.length; i++){
          console.log(resDate[i]);
          var status = 0;
          var diabled = '';
          status = '正常';
//          if(resDate[i]['status']==1){
//            status = '正常';
//          }else{
//            status = '禁用';
//            diabled = 'disabled="true"';
//          }
          tmphtml +=  '<tr><td><input class="listcheck" name="listcheck" type="checkbox" '+diabled+' value="'+resDate[i]["item_code"]+'" data-pr_code="'+resDate[i]["pr_code"]+'"data-sup_code="'+resDate[i]["sup_code"]+'"></td><td>'+resDate[i]["item_code"]+'</td><td>'+resDate[i]["sup_name"]+'</td><td>'+status+'</td></tr>';
        }
        $(".listcheck").click(function () {
          $("[name='listcheck']").removeAttr("checked");//取消全选
          $(this).attr("checked",'true');
        });
        $(".barcode_box table").html( "<thead><tr><th>选择</th><th>供应商编码</th><th>供应商名称</th><th>状态</th></tr></thead>"+tmphtml);
      }else{
        alert('暂无供应商可以选择');
      }
    })
  }

  $(".resetbt").click(function () {
    $("[name='listcheck']").removeAttr("checked");//取消全选
  })
  var flag=0;
  $(".submitbt").click(function () {

    $('input[name="listcheck"]:checked').each(function(){
      flag = 1;
      appoint_sup_code = $(this).attr('data-sup_code');
      pr_code   = $(this).attr('data-pr_code');
      appoint_sup_name=  $(this).parent().next().next().html();

    });

    if(flag != 1) {
      alert('选中一个才能提交');
      return;
    }
    var sendObj ={
      'is_appoint_sup' :   1,
      'appoint_sup_code' : appoint_sup_code ,
      'appoint_sup_name':appoint_sup_name,
      'pr_code':pr_code
    };
    $.post("{:url('Requireorder/savePr')}",sendObj,function(res){
      if(res.code == 2000){
        $(".barcode_box").css("display","none");
        $("input[data-pr_code^=pr_code]") .parent().next().html(res.data.sup_name)

      }else{
        alert("请求失败");
      }
    });
  })
  // 关闭条形码的弹出框
  $(".close_box").click(function(){
    $(".barcode_box").css("display","none");
  });
</script>
{/block}
