{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
  <div class="mt_box">
<!--    <div class="edit-head">
      <a data-open="{:url('showmsg/index')}"><i class="glyphicon glyphicon-home"></i>物供平台</a>
      <i class="glyphicon glyphicon-menu-right"></i>报表管理</a>
      <i class="glyphicon glyphicon-menu-right"></i>供应商质量合格率
    </div>-->
    <div class="inquiry_box">
      <form id="report_form" class="form-inline">
        <label>供应商名称</label>
        <input type="text" placeholder="供应商名称" class="minw form-control">
        <span>下单日期</span>
        <input type="text" class="date_time form-control w20b">
        到
        <input type="text" class="date_time form-control w20b">
      </form>
    </div>
    <div class="pt_20">
      <div id="report-echarts" class="echarts_box"></div>
    </div>
  </div>
</main>

{/block}

{block name="script"}
<script src="/static/admin/chart/qualified.js"></script>
{/block}