{extend name='extra@admin/content' /}

{block name="style"}
<link rel="stylesheet" href="/static/admin/cityLayout.css">
<link href="https://cdn.bootcss.com/iCheck/1.0.2/skins/minimal/minimal.css" rel="stylesheet">
{/block}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
  <button onclick="javascript:window.history.go(-1);" class='layui-btn  layui-btn-small layui-btn-normal'>返回上一页</button>
</div>
{/block}

{block name="content"}

<main class="main">
  <div class="mt_box">
<!--    <div class="edit-head">
      <a><i class="glyphicon glyphicon-home"></i>物供平台</a>
      <a><i class="glyphicon glyphicon-menu-right"></i>供应商管理</a>
      <a><i class="glyphicon glyphicon-menu-right"></i>供应商详情</a>
    </div>-->
    <div class="edit_form">
      <form class="form-horizontal" style="overflow: hidden;padding-top: 15px;">
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">供应商编码</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['code']}" placeholder="供应商编码" disabled>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">供应商名称</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['name']}" placeholder="供应商名称" disabled>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">登录帐号</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['user_name']}" placeholder="登录帐号" disabled>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">帐号注册日期</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['u_create']|atwDate}" placeholder="帐号注册日期" disabled>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">供应商采购属性</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['purch_type']}" placeholder="供应商采购属性" disabled>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">供应商分类</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['type_name']}" placeholder="供应商采购属性" disabled>
            <!--<select class="form-control">
              <option {if condition="$sup_info['type_name'] eq '原材料'"} selected {/if} >原材料</option>
              <option {if condition="$sup_info['type_name'] eq '气控件'"} selected {/if} >气控件</option>
              <option {if condition="$sup_info['type_name'] eq '电磁阀'"} selected {/if} >电磁阀</option>
            </select>-->
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">税号</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['state_tax_code']}" placeholder="税号">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">成立日期</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['found_date']|atwDate}" placeholder="成立日期">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">联系人</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['ctc_name']}" placeholder="联系人">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">电话</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['mobile']}" placeholder="电话">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">手机</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['phone']}" placeholder="电话">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">传真</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['fax']}" placeholder="传真">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">邮箱</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['email']}" placeholder="邮箱">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">地址</label>
          <div class="col-sm-10">
            <!--<input id="citySelect"  type="text"  class="city_input form-control" readonly="readonly">-->
            <input type="text" value="{$sup_info['address']}" class="form-control" placeholder="详细地址">
          </div>
        </div>


        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">状态</label>
          <div class="col-sm-10">
            <select class="form-control">
              <option {if $sup_info.status eq 'normal'}selected{/if} >正常</option>
              <option {if $sup_info.status eq 'forbid'}selected{/if} >禁用</option>
              <option {if $sup_info.status eq 'uncheck'}selected{/if} >待审核</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">建立日期</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['found_date']|atwDate}" placeholder="供应商建立日期">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">技术分</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['tech_score']}" disabled>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">责任采购</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['purch_code']}-{$sup_info['purch_name']}" placeholder="责任采购" disabled>
            <!--<select class="form-control">-->
              <!--<option>8080-wyh</option>-->
              <!--<option>8081-why</option>-->
            <!--</select>-->
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">信用等级</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['quali_level']}" disabled>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">供应风险</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['supply_risk']}" disabled>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">质检方式</label>
          <div class="col-sm-10">
            <select class="form-control">
              <option {if $sup_info.check_type eq '抽检'}selected{/if} >抽检</option>
              <option {if $sup_info.check_type eq '全检'}selected{/if} >全检</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">抽检比例</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['check_rate']}" placeholder="抽检比例">
            <span class="scale_span">%</span>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">&nbsp;&nbsp;</label>
          <div class="col-sm-10">
            <div class="form-control" style="border: none;"></div>

          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">原始的付款方式</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{$sup_info['pay_way']}" disabled="">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">弃标次数</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" required="required" name="giveup_count" id="giveup_count" value="{$sup_info['giveup_count']}">
            <button type="button" class="btn btn-success" onclick="changeGiveUp('{$sup_info.code}');">更改弃标次数</button>
          </div>
        </div>
        {notempty name="$sup_info['pay_way_change']"}
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">更改后付款方式</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="pay_way_change" id="pay_way_change" value="{$sup_info['pay_way_change']}" disabled="">
            <!--<select class="form-control" id="pay_way_change">
              <option {if $sup_info.pay_way_change eq '货到验收合格，票到120天付款'}selected{/if} >货到验收合格，票到120天付款</option>
              <option {if $sup_info.pay_way_change eq '货到验收合格，票到90天付款'}selected{/if} >货到验收合格，票到90天付款</option>
              <option {if $sup_info.pay_way_change eq '货到验收合格，票到30天付款'}selected{/if} >货到验收合格，票到30天付款</option>
              <option {if $sup_info.pay_way_change eq '预付30%，发货前付70%'}selected{/if} >预付30%，发货前付70%</option>
              <option {if $sup_info.pay_way_change eq '预付30%，货到现场30%，安装调试合格30%，一年质保金10%'}selected{/if} >预付30%，货到现场30%，安装调试合格30%，一年质保金10%</option>
            </select>-->
          </div>
        </div>
        {/notempty}
        {notempty name="$sup_info['pay_way_change']"}
        {if $sup_info.pay_way_status eq 'uncheck'}
        <div class="form-group col-sm-6">
          <label class="col-sm-2 control-label">付款方式状态</label>
          <div class="col-sm-10">
            <button type="button" class="btn btn-success" onclick="changePayWayStatus('{$sup_info.code}','pass');">同意更改付款方式</button>
            <button type="button" class="btn btn-danger" onclick="changePayWayStatus('{$sup_info.code}','refuse');">拒绝更改付款方式</button>
          </div>
        </div>
        {/if}
        {/notempty}
      </form>
    </div>
    <div class="edit-table">
      <table class="table table-bordered">
        <tr>
          <td class="col-sm-1 tex_r">供应商交货及时率</td>
          <td class="col-sm-3">{$sup_info['arv_rate']|initPerVal}</td>
          <td class="col-sm-1 tex_r">供应商质量合格率</td>
          <td class="col-sm-3">{$sup_info['pass_rate']|initPerVal}</td>
        </tr>
        <tr>
          <td class="col-sm-1 tex_r">供应商资质评分</td>
          <td class="col-sm-3">{$sup_info['quali_score']}</td>
          <td class="col-sm-1 tex_r"></td>
          <td class="col-sm-3"></td>
        </tr>
      </table>
    </div>
    <div class="aptitude">
      <h4>企业资质</h4>
      <table class="table table-bordered">
        {volist name="supQuali" id="vo"}
        <tr class="tr_tit">
          <td>{$vo['name']}</td>
          <td></td>
        </tr>
        <tr class="tr_con">
          <td>
            <img class="" data-tips-image src="{$vo['img_src']}" alt="">
            <section class="dis_inb ml_20 w75b">
              <label class="mr_15">证件有效期</label>
              <input type="text" class="date_time form-control w30b" disabled value="{$vo['term_start']|atwDate}">
              到
              <input type="text" class="date_time form-control w30b" disabled value="{$vo['term_end']|atwDate}">
            </section>
          </td>
          <td>
            <section class="btn_box">
              {if $vo.status eq ''}
              <button type="button" class="btn btn-success" onclick="changeStauts('{$vo.sup_code}','{$vo.code}','agree');">通过</button>
              <button type="button" class="btn btn-warning" onclick="changeStauts('{$vo.sup_code}','{$vo.code}','refuse');">拒绝</button>
              {elseif $vo.status eq 'agree' /}
              <button type="button" class="btn btn-success" disabled>已通过</button>
              {elseif $vo.status eq 'refuse' /}
              <button type="button" class="btn btn-warning" disabled>已拒绝</button>
              {/if}
            </section>
          </td>
        </tr>
        {/volist}
      </table>
    </div>
  </div>
</main>

{/block}

{block name="script"}
<script src="/static/admin/supporter/edit.js"/>
<script>
  //企业资质审核
  function changeStauts(sup_code,code,status){
    /*layer.confirm('确认该操作吗？', {
      btn: ['提交','取消'], //按钮
      shade: false //不显示遮罩
    }, function(index){  //layer.close(index);  });*/
    var prompt = layer.prompt({
      btn: ['确定', '取消'],
      formType: 2,
      value: '',
      title: '说明'
    }, function (value) {
      layer.close(prompt);
      url = '{:url("Supporter/changeQualiStatus")}';
      data = {
        'sup_code' : sup_code,
        'code' : code,
        'remark' : value,
        'status' : status
      };
      layer.load();
      //console.log(data);
      $.post(url,data,function(res){
        $.form.reload();
        if(res.code == 2000){
          layer.closeAll();
          layer.alert('更改成功');
        }else{
          layer.alert('更改失败');
        }
      });
      return;
    }, function (value) {
      // 审核不通过
      //vm.review(app, 'rejected', value);
      layer.close(prompt);
      return;
    });
  }

  function changePayWayStatus(code,status){
    layer.confirm('确认该操作吗？', {
      btn: ['提交','取消'], //按钮
      shade: false //不显示遮罩
    }, function(index){
      url = '{:url("Supporter/changePayWayStatus")}';
      data = {
        'code' : code,
        'pay_way_status' : status,
        'pay_way' : $('#pay_way_change').val()
      };
      layer.close(index);
      layer.load();
      $.post(url,data,function(res){
        layer.closeAll();
        if(res.code == 2000){
          $.form.reload();
          layer.alert('更改成功');
        }else{
          layer.alert('更改失败');
        }
      });
      //$("#form 的 id").submit();

    });
  }
  layer.prompt = function (options, yes, cancel) {
    options = options || {};
    if (typeof options === 'function') yes = options;
    var prompt, content = options.formType == 2 ? '<textarea class="layui-layer-input">' + (options.value || '') + '</textarea>' : function () {
          return '<input type="' + (options.formType == 1 ? 'password' : 'text') + '" class="layui-layer-input" value="' + (options.value || '') + '">';
        }();
    return layer.open($.extend({
      btn: ['确定', '取消'],
      content: content,
      //skin: 'layui-layer-prompt' + skin('prompt'),
      success: function (layero) {
        prompt = layero.find('.layui-layer-input');
        prompt.focus();
      },
      btn1: function (index) {
        var value = prompt.val();
        if (value.length > (options.maxlength || 500)) {
          layer.tips('最多输入' + (options.maxlength || 500) + '个字数', prompt, {tips: 1});
        } else {
          yes && yes(value, index, prompt);
        }
      },
      btn2: function (index) {
        var value = prompt.val();
        //必填判断
        /*if (value === '') {
          prompt.focus();
        } else*/
        if (value.length > (options.maxlength || 500)) {
          layer.tips('最多输入' + (options.maxlength || 500) + '个字数', prompt, {tips: 1});
        } else {
          cancel && cancel(value, index, prompt);
        }
      },
    }, options));
  };

  function changeGiveUp(code){
    layer.confirm('确认该操作吗？', {
      btn: ['提交','取消'], //按钮
      shade: false //不显示遮罩
    }, function(index){
      url = '{:url("Supporter/changeGiveUp")}';
      var give_num = $('#giveup_count').val();

      data = {
        'code' : code,
        'giveup_count' : give_num
      };

      layer.close(index);
      layer.load();
      $.post(url,data,function(res){
        layer.closeAll();
        if(res.code == 2000){
          $.form.reload();
          layer.alert('更改成功');
        }else{
          layer.alert('更改失败');
        }
      });
      //$("#form 的 id").submit();

    });
  }
</script>
{/block}
