{extend name='extra@admin/content' /}

{block name="style"}
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">
{/block}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
  <div class="mt_box">
    <div class="inquiry_box">
      <form class="form-inline">
        <input type="text" class="form-control" placeholder="供应商编码">
        <input type="text" class="form-control" placeholder="供应商名称">
        <select class="form-control">
          <option>供应商分类</option>
        </select>
        <select class="form-control">
          <option>状态</option>
          <option>正常</option>
          <option>禁用</option>
        </select>
        <select class="form-control">
          <option>付款方式审核</option>
          <option>待审核</option>
          <option>不需要审核</option>
        </select>
        <select class="form-control">
          <option>供应商资质审核</option>
          <option>待审核</option>
          <option>不需要审核</option>
        </select>
        <button type="button" class="btn btn-info">查询</button>
      </form>
    </div>
    <div class="mt_table">
      <div class="pb_15">
        <button type="button" id="synchronization_btn" class="btn btn-info mr_15">立即同步ERP数据</button>
        <button type="button" id="lookThrough" class="btn btn-warning mr_15">审核供应商</button>
        <button type="button" id="remove_btn" class="btn btn-danger mr_15">删除物料</button>
      </div>
      <div>
        <table id="example" class="display table table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>供应商编码</th>
            <th>供应商名称</th>
            <th>供应商分类</th>
            <th>技术评分</th>
            <th>供应商交货及时率</th>
            <th>供应商质量合格率</th>
            <th>供应商资质评分</th>
            <th>状态</th>
            <th>付款方式审核</th>
            <th>供应商资质</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{/block}

{block name="script"}
<!--<script src="/static/admin/supporter/index.js"/>-->
<script>
/**
 * 供应商管理页面
 * Created by Administrator on 2017/5/11.
 */

require(["jquery.dataTables","cityselect","laydate","layui"],function(){
  require(["dataTables.bootstrap"],function(){
    $(document).ready(function(){
      initPage();
      initEvent();
    });
  })
});

function initPage(){
  //选择城市
  init_city_select($("#citySelect"));

  //时间日期选择器
  $(".date_time").focus(function(){
    /*
     laydate插件提供显示日期控件的方法
     laydate(options)
     * options - 选项,格式为 { key : value }
     * 选项
     * format - 日期格式
     *
     默认格式为 YYYY-MM-DD hh:mm:ss(标准格式)
     * 客户端
     * 服务器端
     * 数据库
     * istime - 是否开启时间选择
     * 默认值为false,不开启
     * isclear - 是否显示清空按钮
     * istoday - 是否显示今天按钮
     * issure - 是否显示确认按钮
     */
    laydate({
      format : "YYYY年MM月DD日 hh:mm:ss",
      istime : true,
      isclear : true,
      istoday : true,
      issure : true
    });
  });

  //datatable
  var table = $('#example').DataTable({

    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": '{:URL("Supporter/getSupList")}',
      "type": "POST"
    },
    "pageLength": 3,
    "columns": [
      { "data": "code" },
      { "data": "name" },
      { "data": "type_name" },
      { "data": "tech_score" },
      { "data": "arv_rate" },
      { "data": "pp_rate" },
      { "data": "quali_score" },
      { "data": "status" },
      { "data": "pay_type_status" },
      { "data": "quali" },
      { "data": "action" }
    ],
    //paging: false, //设置是否分页
    "info": false,  //去除左下角的信息
    "lengthChange": false, //是否允许用户改变表格每页显示的记录数
    "ordering": false, //是否允许Datatables开启排序
    "searching": false,  //是否允许Datatables开启本地搜索
    language: {
      "oPaginate": {
        "sFirst": "首页",
        "sPrevious": "上页",
        "sNext": "下页",
        "sLast": "末页"
      }
    }
  });

  // tr点击选中事件
  $('#example tbody').on( 'click', 'tr', function () {
    $(this).toggleClass('danger');
  } );
  // 立即同步ERP 点击事件
  $('#synchronization_btn').click( function () {
    var url = "{:URL('Supporter/updataU9info')}";

    layer.confirm("你确定要同步数据吗？",{
      bth: ['确定','取消']
    },function(index,layero){
      layer.close(index);
      $.post(url,function(resdata){
        if(resdata.code == 200){
          $.form.reload();
        }else{
          alert("更新失败");
        }
      })
    },function(index){

    });

  });
  //审核供应商
  $('#lookThrough').click( function () {
    //....
  });
  //删除物料
  $('#remove_btn').click( function () {
    table.rows('.danger').remove().draw( false );
  } );

//  $.post("{:URL('Supporter/getSupList')}",function(res){
//    console.log(res);
//  })



}

function initEvent(){
  //编辑事件
  $('#example .edit').click(function(e){
    //
  })
}

</script>
{/block}