{extend name='extra@admin/content' /}

{block name="style"}
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">
{/block}
{block name="button"}
{/block}
{block name="content"}
<main class="main">
  <div class="rd_box">
    <p class="rd_title">
      <span>您目前有</span><span style="color:#FF0000;">{$quoteNum+$poItemNum+$pastSuppNum}</span><span>个待办事项，</span>
      <span style="color:#0000FF;">{$quoteNum}</span><span>条询价待审批，</span>
      <span style="color:#0000FF;">{$poItemNum}</span><span>个订单逾期警告 ，</span>
      <span style="color:#0000FF;">{$pastSuppNum}</span><span>个供应商资质将要过期，</span>
      <span style="color:#0033FF;">{if $msgNum gt 0}<a data-open="/msg/index">{$msgNum}</a>{else /}0{/if}</span><span>条消息</span>
    </p>
    <section class="rd_chart">
      <ul>
        <a data-open="/requireorder/index?status=hang"><li style="background: #63c2eb;">
          <span>待询价请购单</span>
          <i>{$quoteNum}</i>
        </li></a>
        <a data-open="/order/index?status=exceed"><li style="background: #28b878;">
          <span>订单逾期警告</span>
          <i>{$poItemNum}</i>
        </li></a>
        <a data-open="/supporter/index?tag=qlf_exceed"><li style="background: #842c98;">
          <span>供应商资质过期</span>
          <i>{$pastSuppNum}</i>
        </li></a>
        <a data-open="/supporter/index?tag=qlf_uncheck"><li style="background: #6cd96c;">
          <span>供应商资质待审核</span>
          <i>{$unCheckNum}</i>
        </li></a>

        <a data-open="/enquiryorder/index?status=flow"><li style="background: #ffb847;">
          <span>流拍询价数量</span>
          <i>{$giveupNum}</i>
        </li></a>
        <a data-open="/supporter/index?tag=credit_risk"> <li style="background: red;">
          <span>高信用风险数量</span>
          <i>{$creditRiskCount}</i>
        </li></a>
      </ul>
    </section>
    <div class="rd_table">
      <form class="search form-inline animated form-search" onsubmit="return false" method="get" action ="{:url('Showmsg/index')}" >
        <span>运营情况一览表（默认一周）</span>
        <input type="text" name="startTime" value="{$Think.get.startTime|default=''}" class="date_time form-control" style="min-width: 200px;">
        到
        <input type="text" name="endTime" value="{$Think.get.endTime|default=''}" class="date_time form-control" style="min-width: 200px;">
        <button type="submit" class="btn btn-primary">查询</button>
      </form>
      <table id="example" class="cell-border table table-bordered" width="100%" cellspacing="0" style="margin-bottom: 20px;">
        <thead>
        <tr>
          <th>日期</th>
          <th>未处理请购单数量</th>
          <th>已发送询价单数量</th>
          <th>已发送订单数量</th>
          <th>处理请购单数量失败数量</th>
        </tr>
        </thead>
        <tbody>
        {volist name="showInfo" id="vo"}
        <tr>
          <td>{$vo['date']}</td>
          <td>{$vo['unfinishPrnum']}</td>
          <td>{$vo['ioNum']}</td>
          <td>{$vo['poNum']}</td>
          <td>{$vo['failPrNum']}</td>
        </tr>
        {/volist}
        </tbody>
      </table>
    </div>
  </div>
</main>
{/block}

{block name="script"}
<script src="/static/admin/showmsg/index.js"/>
{/block}