{extend name='extra@admin/content' /}

{block name="style"}
<link rel="stylesheet" href="/static/admin/dataTables.bootstrap.css">
{/block}
{block name="button"}
{/block}
{block name="content"}
<main class="main">
  <div class="rd_table">
    <div class="ibox-title">
      <h5>V 0.0.12</h5>
    </div>
    <table class="cell-border table table-bordered" width="100%" cellspacing="0" style="margin-bottom: 20px;">
      <thead>
      <tr>
        <th width="200">更新日期</th>
        <th>更新内容</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2017-8-14</td>
        <td>优化消息中心提醒功能。修正待询价请购单数量、新增合同未上传数量、新增合同未审核数量</td>
      </tr>
      <tr>
        <td>2017-8-14</td>
        <td>优化报表导出，修复单价和金额无小数点问题。</td>
      </tr>
      <tr>
        <td>2017-8-14</td>
        <td>供应商新增 手动减少、增加弃标次数的功能</td>
      <tr>
        <td>2017-8-12</td>
        <td>在ERP 修改删除PR单，同步到物供逻辑优化。</td>
      </tr>

      </tr>
      </tbody>
    </table>
  </div>
  <div class="rd_table">
    <div class="ibox-title">
      <h5>V 0.0.11</h5>
    </div>
    <table class="cell-border table table-bordered" width="100%" cellspacing="0" style="margin-bottom: 20px;">
      <thead>
      <tr>
        <th width="200">更新日期</th>
        <th>更新内容</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2017-7-14</td>
        <td>下采购单时回传[项目号] 到ERP。</td>
      </tr>
      <tr>
        <td>2017-7-14</td>
        <td>优化消息中心，修正数据统计结果，优化跳转链接，更人性化。</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="rd_table">
    <div class="ibox-title">
      <h5>V 0.0.10</h5>
    </div>
    <table class="cell-border table table-bordered" width="100%" cellspacing="0" style="margin-bottom: 20px;">
      <thead>
      <tr>
        <th width="200">更新日期</th>
        <th>更新内容</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2017-7-12</td>
        <td>询价的筛选功能增加物料描述、请购单号。</td>
      </tr>
      <tr>
        <td>2017-7-12</td>
        <td>修复BUG:0单价的直接跳到未下单里面了。</td>
      </tr>
      <tr>
        <td>2017-7-12</td>
        <td>请购单、询价单、采购未下单、采购已下单详情 显示项目号。</td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
{/block}
{block name="script"}
{/block}