{extend name='extra@spl/content' /}

{block name="button"}

{/block}

{block name="content"}

<main class="main">

  <div class="table-responsive">
    <table class="table table-bordered atw-supplier-tab">
      <tr>
        <td>成立日期：</td>
        <td><input type="text" disabled="true" value="{$sup_info['found_date']}"></td>
        <td>供应商名称：</td>
        <td><input type="text" disabled="true" value="{$sup_info['name']}"></td>
      </tr>
      <tr>
        <td>电话：</td>
        <td><input type="text" disabled="true" value="{$sup_info['mobile']}"></td>
        <td>税号：</td>
        <td><input type="text" disabled="true" value="{$sup_info['state_tax_code']}"></td>
      </tr>
      <tr>
        <td>邮箱：</td>
        <td><input type="text" disabled="true" value="{$sup_info['email']}"></td>
        <td>联系人：</td>
        <td><input type="text" disabled="true" value="{$sup_info['ctc_name']}"></td>
      </tr>
      <tr>
        <td>地址：</td>
        <td><input type="text" disabled="true" value="{$sup_info['address']}"></td>
        <td>传真：</td>
        <td><input type="text" disabled="true" value="{$sup_info['fax']}"></td>
      </tr>
      <tr>
        <td>付款方式：</td>
        <td colspan="3" class="colspan">
          <span class="" style="    display: block;    height: 20px;    margin: 8px;">当前支付方式：  {$sup_info.pay_way}</span>
            <select class="form-control" name="payway" id="payway" style="height: 40px;">
              <option {if $sup_info.pay_way_change eq '货到验收合格，票到120天付款'}selected{/if} >货到验收合格，票到120天付款</option>
              <option {if $sup_info.pay_way_change eq '货到验收合格，票到90天付款'}selected{/if} >货到验收合格，票到90天付款</option>
              <option {if $sup_info.pay_way_change eq '货到验收合格，票到30天付款'}selected{/if} >货到验收合格，票到30天付款</option>
              <option {if $sup_info.pay_way_change eq '预付30%，发货前付70%'}selected{/if} >预付30%，发货前付70%</option>
              <option {if $sup_info.pay_way_change eq '预付30%，货到现场30%，安装调试合格30%，一年质保金10%'}selected{/if} >预付30%，货到现场30%，安装调试合格30%，一年质保金10%</option>
            </select>
          <br>

            <span class="annotate">{$sup_info.pay_way_status_name}</span>
            <button name="paywaybtn" class="btn btn-primary submitpaybtn" >修改付款方式</button>
          <br>
          <br>
          <span class="annotate">*选择修改后需要平台运营人员审核通过，通过后会通过邮件和手机短信息通知您</span>
        </td>
      </tr>
    </table>
    <table class="table table-bordered atw-supplier-tab1">
      <tr>
        <td>交货率：</td>
        <td>{$sup_info['arv_rate']}</td>
        <td>合格率：</td>
        <td>{$sup_info['pass_rate']}</td>
      </tr>
      <tr>
        <td>信用等级：</td>
        <td>{$sup_info['risk_level']}</td>
      </tr>
    </table>
    <div class="atw-supplier-upload" >
      <input type="checkbox" id ="contractcheck"{if $sup_info.is_agree_purch_contract eq 1} checked="checked"{/if}>
      <span>同意安特威采购合同条约</span>
      <a href="/static/template/purchase_agreement.pdf" target="_blank">下载打印采购合同条约</a>

      <div class="upload">
        <p>
          <span class="clickenlarge">
          {if $imgInfos|@count neq 0 }
          {volist name='imgInfos' id='pimgInfos'}
          <img src="{$pimgInfos}" alt=""  >
          {/volist}
          {/if}
          </span>
          <img src="/static/spl/img/add.png" alt="" id="contractUpload" {if $sup_info.is_agree_purch_contract eq 1} data-modal='{:url("$classuri/add")}?code=contract'{/if}>
        </p>
        <p class="hint">上传采购合同条约</p>
      </div>
    </div>
    <div class="atw-supplier-title">企业资质</div>
    <table class="table table-bordered atw-supplier-tab2">
      {volist name="qualilist" id="pqualilist"}
      <tr class="active">
        <td>{$pqualilist}</td>
        <td>审核状态</td>
        <td></td>
      </tr>
      <tr class="cont" id="qua-{$key}">
        {if condition="$supqualilist[$key] eq '' "}
        <td>
          <span class="layui-input-block" style="margin-left:0px">
            <img  id="img-{$key}" name="img-{$key}" data-tips-image src="/static/spl/img/add.png"/>
            <input type="hidden" name="src-{$key}" onchange="$('#img-{$key}').attr('src', this.value)" value="" class="layui-input">
            <a class="btn btn-link" data-file="one" data-field="src-{$key}">上传图片</a>
          </span>
          <p>证件有效期:<span style="margin: 20px;    display: inline-block;    height: 30px;">长期有效 <input name="is_forever" class="isforever" type="checkbox" value="0"   style="width:20px;height: 20px" /></span>
            <input type="text" class="laydate-icon" class="begintime" name="begintime">
            <input type="text" class="laydate-icon" class="endtime" name="endtime">
            </p>
        </td>
        <td ></td>
        <td class="btn2"><button class="btn btn-primary submitbtn">提交</button></td>
        {else}
        <td>
          <span class="clickenlarge">
            <input type="hidden" name="src-{$key}" onchange="$('#img-{$key}').attr('src', this.value)" value="" class="layui-input">
            <img  id="img-{$key}" name="img-{$key}" src="{$supqualilist[$key]['img_src']}"/>
          </span>
          <a class="btn btn-link" data-file="one" data-field="src-{$key}">上传图片</a>
        <p>
          证件有效期:
          <span style="margin: 20px;    display: inline-block;    height: 30px;">长期有效<input name="is_forever" type="checkbox" class="isforever" style="width:20px;height: 20px;"  {eq name="supqualilist[$key]['is_forever']" value="1"} checked {/eq}  /></span>
          <input type="text" class="laydate-icon" value="{$supqualilist[$key]['term_start']}" class="begintime" name="begintime" {eq name="supqualilist[$key]['is_forever']" value="1"} style="display: none" {/eq}>
          <input type="text" value="{$supqualilist[$key]['term_end']}" class="laydate-icon" class="endtime" name="endtime"  {eq name="supqualilist[$key]['is_forever']" value="1"} style="display: none" {/eq}>
         </p>
       </td>
        <td >
          {$supqualilist[$key]['statusStr']} <br>
          {eq name="supqualilist[$key]['status']" value="refuse"} 原因：{$supqualilist[$key]['remark']} {/eq}
        </td>
        <td class="btn2">
          <button class="btn btn-primary submitbtn" >提交</button>
        </td>
       {/if}
      </tr>
      {/volist}
    </table>
  </div>
</main>

{/block}


{block name="script"}
<script src="/static/spl/suppliercenter/index.js"></script>

<script>

  $("#contractcheck").click(function () {
    if($('#contractcheck').is(':checked')){
      $("#contractUpload").attr('data-modal','{:url("$classuri/add")}?code=contract')
    }else{
      $("#contractUpload").attr('data-modal','');
    }
  })

  $(".submitpaybtn").click(function () {
    var payway = $('#payway').val();

    layer.confirm('确定修改付款方式？',{
      btn: ['确定','取消']
    }, function(index){
      layer.close(index);
      $.ajax({
        'url' : '{:url("Suppliercenter/updatePayStatus")}',
        'type' : 'POST',
        //'dataType' : 'html',
        'data' : {
          'payway':payway,
        },
        'complete' : function(){
          //layer.closeAll();
        },
        'success' : function(obj){
          layer.closeAll();
          if(obj.code == 2000){
            location.reload();
          }else{
            layer.alert(obj.msg);
          }
          //console.log(obj);
        },
        'error' : function(){
          layer.closeAll();
          layer.alert('请求失败');
        }
      });
    });


  });


  $(".submitbtn").click(function () {
    var trObj = $(this).parent().parent();
    var imgid =  trObj.attr('id').substring(4);
    var begintime = trObj.find($('input[name="begintime"]')).val();
    var endtime = trObj.find($('input[name="endtime"]')).val();
    var img_src = trObj.find($('img')).attr('src');
    var is_forever =  trObj.find($('input[name="is_forever"]')).is(':checked');
    if(is_forever ){
        if( img_src=='' || img_src=='/static/spl/img/add.png'){
            layer.alert('请先确定图片是否上传');
            return ;
        }
        begintime = '';
        endtime = '';
        is_forever = 1;
    }else{
        if(begintime=='' || endtime=='' || img_src==''  || img_src=='/static/spl/img/add.png'){
            layer.alert('请先确定图片是否上传和时间是否选择');
            return ;
        }
        is_forever = 0;
    }

    var alertMsg = '提交后需要重新审核，审核期间相应的资质分会清零，将影响您的竞标，审核通过后将增加相应的资质分。\n 确定提交吗？';
    layer.confirm(alertMsg, {
      btn: ['确定','取消']
    }, function(index){
      layer.close(index);
      $.ajax({
        'url' : '{:url("Suppliercenter/uploadSupInfo")}',
        'type' : 'POST',
        //'dataType' : 'html',
        'data' : {
          'begintime':begintime,
          'endtime':endtime,
          'imgid':imgid,
          'img_src':img_src,
          'is_forever':is_forever,
        },
        'complete' : function(){
          //layer.closeAll();
        },
        'success' : function(obj){
          layer.closeAll();
          if(obj.code == 2000){
            $.form.reload();
          }else{
            layer.alert(obj.msg);
          }
          //console.log(obj);
        },
        'error' : function(){
          layer.closeAll();
          layer.alert('请求失败');
        }
      });
    });


  });

  $(".uploadnew").click(function () {
    var trObj = $(this).parent().parent();
    var imgid =  trObj.attr('id').substring(4);
    var begintime = trObj.find($('input[name="begintime"]')).val();
    var endtime = trObj.find($('input[name="endtime"]')).val();
    if(begintime == '' || endtime == '' ){
      alert('请先填写日期');
      return;
    }
    $(this).attr('data-modal','{:url("$classuri/add")}?code='+imgid+'&begintime='+begintime+'&endtime='+endtime)
  })
  $(".isforever").click(function () {
      var trObj = $(this).parent().parent();
      if(  $(this).is(':checked')){
          trObj.find($('input[name="begintime"]')).hide();
          trObj.find($('input[name="endtime"]')).hide();
      }else{
          trObj.find($('input[name="begintime"]')).show();
          trObj.find($('input[name="endtime"]')).show();
      }

  })
</script>
<script>
  //调用示例
  layer.photos({
    photos: '.clickenlarge'
    ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
  });
</script>
{/block}