{extend name='extra@admin/content' /}

{block name="button"}
<!--<div class="nowrap pull-right" style="margin-top:10px">
  <button data-modal='{:url("$classuri/add")}' data-title="添加菜单" class='layui-btn layui-btn-small'><i class='fa fa-plus'></i> 添加菜单</button>
  <button data-update data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除菜单</button>
</div>-->
{/block}

{block name="content"}

<form class="layui-form" onsubmit="return false;" data-auto="" method="POST">
  <input type="hidden" value="{$askInfo['sender_id']}" id="sender_id" />
  <input type="hidden" value="{$askInfo['id']}" id="p_id" />
  <table class="table table-hover">
    <thead>
    <tr>

      <th class='text-center'>咨询问题</th>
      <th class='text-center'>咨询时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class='text-center'>{$askInfo['content']}</td>
      <td class='text-center'>{$askInfo['create_at']|date="Y-m-d H:i:s",###}</td>
    </tr>
    </tbody>
  </table>

</form>

<div class="dialogue_box">
  <div class="dialogue_con">
    <ul id="maincontent">
      {volist name="replyList" id="vo"}
      <li class="{$vo['position']}_con">
        <div class="chat_con">
          {if $vo['avatar'] eq ''}
          <img src="/static/admin/img/personal.png" alt="{$vo['name']}">
          {else /}
          <img src="{$vo['avatar']}" alt="{$vo['name']}">
          {/if}
          <section>
            <p class="chat_name">{$vo['name']}</p>
            <p class="chat_text">{$vo['content']}</p>
          </section>
        </div>
      </li>
      {/volist}
    </ul>
  </div>
  <div class="dialogue_import">
    <textarea id="content"></textarea>
    <a href="javascript:sendSmg();" class="send_con">发送</a>
  </div>
</div>

{/block}
{block name="script"}
<script>
function sendSmg(){
  data = {
    'pid' : $('#p_id').val(),
    'sender_id' : $('#sender_id').val(),
    'content' : $('#content').val(),
  }
  url = "{:url('Msg/sendMsg')}";
  layer.load();
  $.post(url,data,function(res){
    layer.closeAll();
    if(res.code == 2000){
      var str = '<li class="right_con">' +
          '<div class="chat_con">'+
          '<img src="/static/admin/img/personal.png" alt="系统管理员">'+
          '<section>'+
          '<p class="chat_name">系统管理员</p>'+
          '<p class="chat_text">'+$('#content').val()+'</p>'+
          '</section>'+
          '</div>'+
          '</li>';
      $('#content').val('');
      $('#maincontent').append(str);
      $('#maincontent').scrollTop( $('#maincontent')[0].scrollHeight);
    }else{
      layer.alert('发送失败');
    }
  });
}
</script>
{/block}