{extend name='extra@admin/content' /}

{block name="button"}
<!--<div class="nowrap pull-right" style="margin-top:10px">
  <button data-modal='{:url("$classuri/add")}' data-title="添加菜单" class='layui-btn layui-btn-small'><i class='fa fa-plus'></i> 添加菜单</button>
  <button data-update data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除菜单</button>
</div>-->
{/block}

{block name="content"}

<form class="layui-form" onsubmit="return false;" data-auto="" method="POST">
  <input type="hidden" value="resort" name="action"/>
  <table class="table table-hover">
    <thead>
    <tr>

      <th class='text-center'>咨询问题</th>
      <th class='text-center'>咨询时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class='text-center'>{$askInfo['content']}</td>
      <td class='text-center'>{$askInfo['create_at']|date="Y-m-d H:i:s",###}</td>
    </tr>
    </tbody>
  </table>

</form>

<div class="dialogue_box">
  <div class="dialogue_con">
    <ul>
      <li class="left_con">
        <div class="chat_con">
          <img src="/static/admin/personal.png" alt="">
        </div>
      </li>
      <li class="right_con">
        <div class="chat_con">
          <img src="/static/admin/personal.png" alt="">
        </div>
      </li>
    </ul>
  </div>
  <div class="dialogue_import">
    <textarea></textarea>
    <a href="javascript:void(0);" class="send_con">发送</a>
  </div>
</div>

{/block}