{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
  <div class="mt_box">
    <div class="order_table">
      <table class="table table-hover">
        <tr>
          <td class="col-sm-1">订单编号</td>
          <td></td>
          <td class="col-sm-1">下单日期</td>
          <td></td>
          <td class="col-sm-1">供应商编号</td>
          <td></td>
        </tr>
        <tr>
          <td>请购单编号</td>
          <td></td>
          <td>请购日期</td>
          <td></td>
          <td>供应商名称</td>
          <td></td>
        </tr>
      </table>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>序号</th>
          <th>料号</th>
          <th>物料名称</th>
          <th>物料描述</th>
          <th>单位</th>
          <th>计价单位</th>
          <th>数量</th>
          <th>交期</th>
          <th>供应商名称</th>
          <th>单价</th>
          <th>金额</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>1503010168</td>
          <td>棒料-φ150-630</td>
          <td></td>
          <td>mm</td>
          <td>公斤</td>
          <td>412.24500</td>
          <td>2017-02-28</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>1503010168</td>
          <td>棒料-φ150-630</td>
          <td></td>
          <td>mm</td>
          <td>公斤</td>
          <td>412.24500</td>
          <td>2017-02-28</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>1503010168</td>
          <td>棒料-φ150-630</td>
          <td></td>
          <td>mm</td>
          <td>公斤</td>
          <td>412.24500</td>
          <td>2017-02-28</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">合并</td>
          <td colspan="7"></td>
          <td colspan="2">￥200000.00</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="other_box">
      <section class="other_box_se1">
        <div class="pb_10 other_one">
          <span class="mr_15">合同扫描件</span>
          <span class="mr_15"><a href="javascript:;">打包下载</a></span>
          <span class="col_red">*供应商上传</span>
        </div>
        <div class="other_oneimg">
          <img src="/static/admin/img/entering_pic.png" alt="" class="mr_15">
          <img src="/static/admin/img/entering_pic.png" alt="" class="mr_15">
          <img src="/static/admin/img/entering_pic.png" alt="">
        </div>
      </section>
      <section class="other_box_se2">
        <div class="pb_10 other_one">
          <span class="mr_15">付款凭证</span>
          <span class="col_red">*同步U9财务数据</span>
        </div>
        <div class="pt_20">
          <p><span>合计金额</span> : ￥20000.00</p>
          <p>2016/3/23 16:00  付款XXXX，付款说明</p>
          <p>2016/3/23 16:00  付款XXXX，付款说明</p>
        </div>
      </section>
    </div>
  </div>
</main>

{/block}
