{extend name='extra@admin/content' /}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
  <div class="mt_box">
    <div class="order_table">
      <table class="table table-hover">
        <tr>
          <td class="col-sm-1">订单编号</td>
          <td>{$poInfo['order_code']}</td>
          <td class="col-sm-1">下单日期</td>
          <td>{$poInfo['create_at']|date="Y-m-d",###}</td>
          <td class="col-sm-1">供应商编号</td>
          <td>{$poInfo['sup_code']}</td>
        </tr>
        <tr>
          <td>请购单编号</td>
          <td>{$poInfo['pr_code']}</td>
          <td>请购日期</td>
          <td>{$poInfo['pr_date']|date="Y-m-d",###}</td>
          <td>供应商名称</td>
          <td>{$poInfo['sup_name']}</td>
        </tr>
      </table>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>序号</th>
          <th>料号</th>
          <th>物料名称</th>
          <th>物料描述</th>
          <th>单位</th>
          <th>计价单位</th>
          <th>数量</th>
          <th>交期</th>
          <th>供应商名称</th>
          <th>单价</th>
          <th>金额</th>
        </tr>
        </thead>
        <tbody>
        {volist name="poItemInfo" id="vo"}
        <tr>
          <td>{$i}</td>
          <td>{$vo['item_code']}</td>
          <td>{$vo['item_name']}</td>
          <td>{$vo['item_name']}</td>
          <td>{$vo['price_uom']}</td>
          <td>{$vo['tc_uom']}</td>
          <td>{$vo['price_num']}</td>
          <td>{$vo['sup_confirm_date']|date="Y-m-d",###}</td>
          <td>{$poInfo['sup_name']}</td>
          <td>{$vo['price']}</td>
          <td>{$vo['amount']}</td>
        </tr>
        {/volist}
        <tr>
          <td colspan="2">合并</td>
          <td colspan="7"></td>
          <td colspan="2">￥{$allAmount}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="other_box">
      {notempty name="$poInfo['contract']" }
      <section class="other_box_se1">
        <div class="pb_10 other_one hidden">
          <span class="mr_15">合同扫描件</span>
          <span class="mr_15"><a href="javascript:;">打包下载</a></span>
          <span class="col_red">*供应商上传</span>
        </div>
        <div class="other_oneimg">
          {volist name="$poInfo['contract']" id="contract"}
          <img src="{$contract}" alt="" class="mr_15">
          {/volist}
        </div>
      </section>

      {/notempty}
      {if $poInfo['status'] eq 'upload_contract'}
      <section class="other_box_se1">
        <button class="layui-btn" onclick="verifyOrder({$poInfo['id']},'contract_pass',this)">合同审核通过</button>
        <button class="layui-btn" onclick="verifyOrder({$poInfo['id']},'contract_pass',this)">拒绝该合同</button>
      </section>
      {elseif $poInfo['status'] eq 'contract_pass' /}
      <p class="h2">合同已审核通过</p>
      {elseif $poInfo['status'] eq 'contract_refuse' /}
      <p class="h2">合同已拒绝</p>
      {/if}
      <section class="other_box_se2">
        <div class="pb_10 other_one">
          <span class="mr_15">付款凭证</span>
          <span class="col_red">*同步U9财务数据</span>
        </div>
        <div class="pt_20">
          <p><span>合计金额</span> : ￥{$allAmount}</p>
          <!--<p>2016/3/23 16:00  付款XXXX，付款说明</p>
          <p>2016/3/23 16:00  付款XXXX，付款说明</p>-->
        </div>
      </section>
    </div>
  </div>
</main>

{/block}
{block name="script"}
<script>
  function verifyOrder(id,action,dom){
    layer.confirm('确认该操作吗？', {
      btn: ['提交','取消'], //按钮
      shade: false //不显示遮罩
    }, function(index){
      url = '{:url("Order/verifyStatus")}';
      data = {
        'id' : id,
        'action' : action
      };
      layer.close(index);
      layer.load();
      $.post(url,data,function(res){
        layer.closeAll();
        console.log(res);
        if(res.code == 2000){
          layer.alert('更改成功');
          $(dom).parent().html('<p class="h2">'+res.msg+'</p>');
        }else{
          layer.alert('更改失败');
        }
      });
      //$("#form 的 id").submit();

    });

    //console.log(dom);
  }
</script>
{/block}
