{extend name='extra@admin/content' /}

{block name="style"}
<link rel="stylesheet" href="/static/admin/dataTables.bootstrap.css">
<link href="/static/admin/minimal.css" rel="stylesheet">
<link rel="stylesheet" href="/static/admin/smallcommon.css">
{/block}

{block name="button"}

{/block}

{block name="content"}

<main class="main">
  <div class="mt_box">
    <div class="inquiry_box">
      <form id="search_form" class="form-inline animated form-search" action='{:url("$classuri/index")}' onsubmit="return false" method="get">
        <!--<input type="hidden" id="status_ipt" name="status" value="{$Think.get.status}">-->
        <span>合同状态:
        <select class="form-control" name="status" id="status">
          <option value="">全部</option>
          {volist name='orderstatus' id='pstatus'}
            <option value="{$key}" {eq name="$key" value="$Think.get.status" }selected{/eq}>{$pstatus}</option>
          {/volist}</select></span>
        <input type="text" id="order_code" name="order_code" value="{$Think.get.order_code}" class="form-control" placeholder="订单编号">
        <input type="text" id="sup_code" name="sup_code" value="{$Think.get.sup_code}" class="form-control" placeholder="供应商编码">
        <input type="text" id="sup_name" name="sup_name" value="{$Think.get.sup_name}" class="form-control" placeholder="供应商名称">
        <button type="submit" class="btn btn-info">查询</button>
      </form>
    </div>
    <div class="order_table">
      <div class="pb_15">
        <!--<button type="button" id="remove_btn" class="btn btn-info">删除</button>-->
        <button type="button" id="excel_out" class="btn btn-info" style="margin-right: 15px;">导出Excel</button>
        <button type="button" id="sync_po_status" class="btn btn-info" style="margin-right: 15px;">同步订单执行状态</button>
        <button type="button" id="sync_po" class="btn btn-info" style="margin-right: 15px;">同步订单</button>
        <!--<button type="button" id="cancel_btn" class="btn btn-info" disabled>取消订单</button>-->
      </div>
      <div class="order_box">
        <table id="example" class="display table table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>
              <input type="checkbox" class="all">
            </th>
            <th>订单编号</th>
            <th>下单日期</th>
            <th>供应商编码</th>
            <th>供应商名称</th>
            <th>状态</th>
            <th>是否业务关闭</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{/block}

{block name="script"}

<script src="/static/admin/order/index.js"></script>

<script>
  var orderTables;
  require(["jquery.dataTables", "icheck"], function(){
    require(["dataTables.bootstrap"], function(){
      $(document).ready(function(){
        initPage();
        //initEvent();
      });
    });

    function initPage(){
      // datatable
      $.fn.dataTable.ext.errMode = 'none';
      orderTables = $('#example').DataTable({
        //"paging": false, //设置是否分页
        "info":true,  //去除左下角的信息
        "lengthChange":true, //是否允许用户改变表格每页显示的记录数
        "lengthMenu":[[100, 200, 300], [100, 200, 300]],
        "dom":'rt<"bottom"fp<"Lengthchanging"l><"Total"i><"toolbar">><"clear">',
        "ordering":false, //是否允许Datatables开启排序
        "searching":false,  //是否允许Datatables开启本地搜索
        "processing":true,
        //"serverSide": true,
        "ajax":{
          "url":'{:url("Order/getOrderList")}',
          "type":"POST",
          "data":function(parameter){
            //添加额外的参数传给服务器
            var status = "{$Think.get.status}";
            parameter.order_code = $("#order_code").val();
            parameter.pr_code = $("#pr_code").val();
            parameter.sup_code = $("#sup_code").val();
            parameter.sup_name = $("#sup_name").val();
            if(status != ''){
              parameter.status = status;
            }else{
              parameter.status = $("#status").val();
            }
          }
        },
        "columnDefs":[
          {
            "targets":0,
            "data":null,
            "render":function(data){
              return '<input type="checkbox" id="order_id_' + data + '" class="check" value="' + data + '">';
            }
          },
          /*{
             "targets":8,
             "render":function(data){
               var url = '{:url(\'order/detailed\')}?id=' + data;//data
               return '<a class="detail" data-open="' + url + '">详情</a>';
               //return url;
             }
           }*/
        ],
        "pageLength":100,
        language:{
          "oPaginate":{
            "sFirst":"首页",
            "sPrevious":"上页",
            "sNext":"下页",
            "sLast":"末页"
          },
          "info":"当前总记录数_TOTAL_条",
          "lengthMenu":"每页 _MENU_ 条记录"
        },
        "columns":[
          {"data":"order_code"},
          {"data":"order_code"},
          {"data":"create_at"},
          {"data":"sup_code"},
          {"data":"sup_name"},
          {"data":"status"},
          {"data":"is_biz_closed_str"},
          {"data":"detail"},
        ],
        "drawCallback":function(settings){
          initEvent();
        }
      });

      $("div.toolbar")
          .html(' <span>第</span><input type="number" id="searchNumber" min="1" style="width: 40px;text-align: center; margin: 1em;"/><span>页&nbsp;&nbsp;</span><button id="btn-jump" onclick="changejump()" class="layui-btn layui-btn-small">跳转</button>');
      orderTables.on('draw.dt', function(e, settings, data){
        var info = orderTables.page.info();
        //此处的page为0开始计算
        // console.info('Showing page: ' + info.page + ' of ' + info.pages);
        $('#searchNumber').val(info.page + 1);
      });

      // tr点击选中事件
      $('#example tbody').on('click', 'tr', function(){
        $(this).toggleClass('selected');
      });
      // 立即同步ERP 点击事件
      $('#synchronization_btn').click(function(){
        alert(orderTables.rows('.selected').data().length + ' row(s) selected');
      });
      //删除物料
      $('#remove_btn').click(function(){
        orderTables.rows('.selected').remove().draw(false);
      });
    }

    //监听文本框更改
    function changejump(){
      var page = $('#searchNumber').val();
      page = parseInt(page) || 1;
      page = page - 1;
      //调转到指定页面索引 ，注意大小写
      var oTable = $('#example').dataTable();
      oTable.fnPageChange(page);
    }

    function initEvent(){
      //icheck
      $('input').iCheck({
        checkboxClass:'icheckbox_minimal',
        radioClass:'iradio_minimal',
        increaseArea:'20%' // optional
      });

      var checkAll = $('input.all');
      var checkboxs = $('input.check');

      checkAll.unbind('ifChecked ifUnchecked').on('ifChecked ifUnchecked', function(event){
        if(event.type == 'ifChecked'){
          checkboxs.iCheck('check');
        }else{
          checkboxs.iCheck('uncheck');
        }
      });
      checkboxs.unbind('ifChecked').on('ifChecked', function(event){
        $("#cancel_btn").attr('disabled', false);
      });
      checkboxs.unbind('ifUnchecked').on('ifUnchecked', function(event){
        if(checkboxs.filter(':checked').length === 0){
          $("#cancel_btn").attr('disabled', true);
        }
      });


    }

    $("#searchVal").on('click', function(){
      //console.log(orderTables);
      orderTables.ajax.reload();
    })

  });

  function verifyOrder(id, action, dom){
    layer.confirm('确认该操作吗？', {
      btn:['提交', '取消'], //按钮
      shade:false //不显示遮罩
    }, function(index){
      url = '{:url("Order/verifyStatus")}';
      data = {
        'id':id,
        'action':action
      };
      layer.close(index);
      layer.load();
      $.post(url, data, function(res){
        layer.closeAll();
        //console.log(res);
        if(res.code == 2000){
          layer.alert('更改成功');
          $(dom).parent().html(res.msg);
        }else{
          layer.alert('更改失败');
        }
      });
      //$("#form 的 id").submit();

    });

    //console.log(dom);
  }

  //导出
  $("#excel_out").click(function(){
    layer.confirm('是否进行导出', {
      btn:['确定导出', '取消导出']
    }, function(index){
      layer.close(index);
      var order_code = $("#order_code").val() || '';
      var sup_code = $("#sup_code").val() || '';
      var sup_name = $("#sup_name").val() || '';
      var status = $("#status").val() || '';
      var str = "{:url('Order/exportPoExcel')}" + '?order_code=' + order_code + '&sup_code=' + sup_code + '&sup_name=' + sup_name + '&status=' + status;
      window.open(str);
      //console.log(str);
    });
  });

  //立即同步ERP
  $("#sync_po_status").click(function(){
    var loader = layer.msg('加载中', {
      icon:16,
      shade:0.01,
      time:9999000,
    });
    $.get('{:url("Order/syncErp")}', function(ret){
      if(!ret){
        layer.alert('网络异常请稍后再试。', {icon:6});
      }
      if(ret.code == 2000){
        layer.close(loader);
        return true;
      }
      layer.alert('调用U9接口异常', {icon:2});
      layer.close(loader);
      return false;
    });
  });

  //立即同步ERP
  $("#sync_po").click(function(){
    var loader = layer.msg('加载中', {
      icon:16,
      shade:0.01,
      time:9999000,
    });
    $.get('{:url("Order/syncPO")}', function(ret){
      if(!ret){
        layer.alert('网络异常请稍后再试。', {icon:2});
      }
      if(ret.code == 2000){
        layer.close(loader);
        return true;
      }
      layer.alert(ret.msg, {icon:2});
      layer.close(loader);
      return false;
    });
  });

  /*$("#search_form").submit(function(){
    orderTables.ajax.reload();
    return false;
  });*/

  $("#cancel_btn").on('click', function(){
    var url = "{:URL('order/cancelPo')}";

    layer.confirm("你确定取消订单吗？", {
      bth:['确定', '取消']
    }, function(index, layero){
      layer.close(index);
      var loader = layer.load(1, {
        shade:[0.1, "#fff"]
      });
      var poCodes = [];
      $(".check:checked").map(function(i, v){
        poCodes.push(v.value);
      });

      layer.close(loader);

      $.post(url, {poCodes:poCodes}, function(ret){
        if(ret.code == 2000){
          orderTables.ajax.reload();
          layer.closeAll();
        }else{
          var msg = ret.msg;
          msg += '<br/> 成功取消：' + ret.result.successCount + '个';
          msg += '<br/> 异常单号：' + ret.result.failedPoCode;
          msg += '<br/> 异常信息：' + ret.result.errorMessage;
          layer.alert(msg);
        }
      })
    });

  });

</script>


{/block}